/* ==========================================================================
   Header responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-page-header {
    display: none;
  }
}

/* ==========================================================================
   Header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

/* ==========================================================================
   Fixed header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Header Vertical responsive style - begin
   ========================================================================== */
@media only screen and (min-width: 1025px) {
  .error404.edgtf-header-vertical .edgtf-content {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-header-vertical .edgtf-vertical-menu-area {
    display: none;
  }
  .edgtf-header-vertical .edgtf-content,
  .edgtf-header-vertical footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 90%;
  }
}

/* ==========================================================================
   Header Vertical responsive style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-paspartu-enabled .edgtf-mobile-header .edgtf-grid {
    width: 90%;
  }
}

/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Sticky header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Top header responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-top-bar {
    display: none;
  }
}

/* ==========================================================================
   Top header responsive style - end
   ========================================================================== */
/* ==========================================================================
   Header responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map-responsive.css.map */
