/* ==========================================================================
   Subscribe Popup styles - begin
   ========================================================================== */
/* ==========================================================================
# Subscribe Pop-up style - begin
========================================================================== */
.edgtf-subscribe-popup-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 115;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out .1s, visibility .0s .4s;
  -o-transition: opacity .2s ease-out .1s, visibility .0s .4s;
  transition: opacity .2s ease-out .1s, visibility .0s .4s;
}

.edgtf-subscribe-popup-holder .edgtf-sp-shader {
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 130%;
  z-index: 1;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.edgtf-subscribe-popup-holder .edgtf-sp-table {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.75);
}

.edgtf-subscribe-popup-holder .edgtf-sp-table-cell {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.edgtf-subscribe-popup-holder .edgtf-sp-inner {
  display: table;
  margin: 0 auto;
  width: 49%;
  min-height: 420px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: opacity 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99), -webkit-transform 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99);
  transition: opacity 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99), -webkit-transform 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99);
  -o-transition: transform 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99), opacity 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99);
  transition: transform 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99), opacity 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99);
  transition: transform 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99), opacity 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99), -webkit-transform 0.3s cubic-bezier(0.06, 0.47, 0.38, 0.99);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

@media only screen and (max-width: 1440px) {
  .edgtf-subscribe-popup-holder .edgtf-sp-inner {
    width: 70%;
  }
}

.edgtf-subscribe-popup-holder .edgtf-sp-close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: block;
  color: #000;
}

.edgtf-subscribe-popup-holder .edgtf-sp-close:hover {
  color: #bab9bb;
}

.edgtf-subscribe-popup-holder .edgtf-sp-close svg {
  stroke: currentColor;
  fill: currentColor;
}

.edgtf-subscribe-popup-holder .edgtf-sp-content-container {
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 60px;
  text-align: left;
}

.edgtf-subscribe-popup-holder .edgtf-sp-background {
  display: table-cell;
  width: 39%;
  background-size: cover;
}

.edgtf-subscribe-popup-holder .edgtf-sp-title {
  position: relative;
  margin-bottom: 51px;
}

.edgtf-subscribe-popup-holder .edgtf-sp-title:after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 0;
  height: 3px;
  width: 37px;
  background-color: currentColor;
}

.edgtf-subscribe-popup-holder .edgtf-sp-subtitle {
  margin-bottom: 28px;
}

.edgtf-subscribe-popup-holder .wpcf7 {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.edgtf-subscribe-popup-holder .edgtf-sp-prevent {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 28px;
  text-align: right;
}

.edgtf-subscribe-popup-holder .edgtf-sp-prevent-inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.edgtf-subscribe-popup-holder .edgtf-sp-prevent-inner > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}

.edgtf-subscribe-popup-holder .edgtf-sp-prevent-input {
  margin: 1px 1px 0 0;
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.edgtf-subscribe-popup-holder .edgtf-sp-prevent-input svg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

.edgtf-subscribe-popup-holder .edgtf-sp-prevent-input.edgtf-sp-prevent-clicked svg {
  opacity: 1;
}

.edgtf-subscribe-popup-holder .edgtf-sp-prevent-label {
  font-size: 13px;
}

/* Popup open/close style */
.edgtf-sp-opened .edgtf-subscribe-popup-holder {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.edgtf-sp-opened .edgtf-subscribe-popup-holder .edgtf-sp-inner {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.26, 0.63, 0, 0.96);
  transition: -webkit-transform 0.8s cubic-bezier(0.26, 0.63, 0, 0.96);
  -o-transition: transform 0.8s cubic-bezier(0.26, 0.63, 0, 0.96);
  transition: transform 0.8s cubic-bezier(0.26, 0.63, 0, 0.96);
  transition: transform 0.8s cubic-bezier(0.26, 0.63, 0, 0.96), -webkit-transform 0.8s cubic-bezier(0.26, 0.63, 0, 0.96);
}

/* ==========================================================================
# Subscribe Pop-up style - end
========================================================================== */
/* ==========================================================================
   Subscribe Popup styles - end
   ========================================================================== */

/*# sourceMappingURL=popup-map.css.map */
