/* ==========================================================================
   Search styles - begin
   ========================================================================== */
/* ==========================================================================
# Search opener - begin
========================================================================== */
.edgtf-search-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
  margin: 0 10px !important;
}

.edgtf-search-opener .edgtf-search-opener-wrapper {
  display: block;
}

.edgtf-search-opener .edgtf-search-opener-wrapper > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}

.edgtf-search-opener .edgtf-search-opener-wrapper > *:before {
  display: block;
  line-height: inherit;
}

.edgtf-search-opener.edgtf-search-opener-svg-path .edgtf-search-opener-wrapper > * {
  vertical-align: middle;
}

.edgtf-search-opener.edgtf-search-opener-svg-path .edgtf-search-opener-wrapper > *,
.edgtf-search-opener.edgtf-search-opener-svg-path .edgtf-search-opener-wrapper path {
  stroke: currentColor;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-search-opener {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener:hover,
.edgtf-light-header .edgtf-top-bar .edgtf-search-opener:hover {
  color: #6b54b6 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-search-opener {
  color: #ffffff !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener:hover,
.edgtf-dark-header .edgtf-top-bar .edgtf-search-opener:hover {
  color: #6b54b6 !important;
}

/* ==========================================================================
# Search opener - end
========================================================================== */
/* ==========================================================================
# Search template style - begin
========================================================================== */
.edgtf-search-page-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 80px;
}

.edgtf-search-page-holder .edgtf-search-page-form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-search-title {
  margin: 0 0 20px;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-search-label {
  display: block;
  font-size: 13px;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 10px;
  clear: both;
  padding: 0 10px;
  border-bottom: 1px solid #fd3147;
  background-color: #180f1f;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-column-left {
  display: table-cell;
  vertical-align: top;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-column-right {
  display: table-cell;
  width: 1%;
  text-align: left;
  vertical-align: top;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px 0 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field::-webkit-input-placeholder {
  color: inherit;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-field:-ms-input-placeholder {
  color: inherit;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-submit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #bab9bb;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.edgtf-search-page-holder .edgtf-search-page-form .edgtf-form-holder .edgtf-search-submit:hover {
  color: #ffffff;
}

.edgtf-search-page-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 0;
  margin: 0;
  border-bottom: 2px solid #120a17;
}

.edgtf-search-page-holder article.sticky .edgtf-post-title a {
  color: #6b54b6;
}

.edgtf-search-page-holder article.page .edgtf-post-title-area .edgtf-post-info > div.edgtf-post-info-category {
  display: none;
}

.edgtf-search-page-holder article .edgtf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-search-page-holder article .edgtf-post-image {
  display: block;
  float: left;
  width: 130px;
}

.edgtf-search-page-holder article .edgtf-post-image a, .edgtf-search-page-holder article .edgtf-post-image img {
  display: block;
}

.edgtf-search-page-holder article .edgtf-post-title-area {
  min-height: 130px;
  padding: 0 0 0 150px;
}

.edgtf-search-page-holder article .edgtf-post-title-area.edgtf-no-thumbnail {
  padding: 0;
  min-height: inherit;
}

.edgtf-search-page-holder article .edgtf-post-title-area .edgtf-post-title-area-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.edgtf-search-page-holder article .edgtf-post-title-area .edgtf-post-title-area-inner .edgtf-post-title {
  margin: 0;
}

.edgtf-search-page-holder article .edgtf-post-title-area .edgtf-post-title-area-inner .edgtf-post-excerpt {
  margin: 7px 0 0;
}

.edgtf-search-page-holder .edgtf-blog-pagination {
  margin: 50px 0 0;
}

/* ==========================================================================
# Search template style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - start
========================================================================== */
/* Fullscreen search general style - start
========================================================================== */
.edgtf-fullscreen-search-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  opacity: 0;
}

.edgtf-fullscreen-search-holder .edgtf-fullscreen-search-table {
  display: table;
  width: 100%;
  height: 100%;
}

.edgtf-fullscreen-search-holder .edgtf-fullscreen-search-cell {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.edgtf-fullscreen-search-holder .edgtf-form-holder-inner {
  position: relative;
  width: 60%;
  margin: auto;
}

.edgtf-fullscreen-search-holder .edgtf-form-holder-inner .edgtf-line {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  border-bottom: 4px solid #6b54b6;
  -webkit-transition: all .3s .2s;
  -o-transition: all .3s .2s;
  transition: all .3s .2s;
}

.edgtf-fullscreen-search-opened .edgtf-fullscreen-search-holder .edgtf-form-holder-inner .edgtf-line {
  width: 100%;
  -webkit-transition: width 0.5s ease .6s;
  -o-transition: width 0.5s ease .6s;
  transition: width 0.5s ease .6s;
}

.edgtf-fullscreen-search-holder .edgtf-field-holder {
  display: block;
  position: relative;
}

.edgtf-fullscreen-search-holder .edgtf-search-field {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 14px 50px 14px 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  line-height: 58px;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
  text-transform: uppercase;
}

.edgtf-fullscreen-search-holder .edgtf-search-field:required {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit {
  position: absolute;
  right: 0;
  bottom: -20px;
  width: auto;
  color: #bab9bb;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all .3s .2s;
  -o-transition: all .3s .2s;
  transition: all .3s .2s;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit:hover {
  color: #ffffff;
}

.edgtf-fullscreen-search-opened .edgtf-fullscreen-search-holder .edgtf-search-submit {
  opacity: 1;
  bottom: 25px;
  -webkit-transition: color 0.2s ease, opacity .2s ease-out 1.1s, bottom .4s ease-out .9s;
  -o-transition: color 0.2s ease, opacity .2s ease-out 1.1s, bottom .4s ease-out .9s;
  transition: color 0.2s ease, opacity .2s ease-out 1.1s, bottom .4s ease-out .9s;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit.edgtf-search-submit-icon-pack {
  font-size: 18px;
  line-height: 1em;
}

.edgtf-fullscreen-search-holder .edgtf-search-submit.edgtf-search-submit-svg-path > *,
.edgtf-fullscreen-search-holder .edgtf-search-submit.edgtf-search-submit-svg-path path {
  stroke: currentColor;
}

.edgtf-fullscreen-search-holder .edgtf-search-close {
  position: absolute;
  top: 33px;
  right: 70px;
  color: #bab9bb;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  display: none;
}

.admin-bar .edgtf-fullscreen-search-holder .edgtf-search-close {
  top: 72px;
}

.edgtf-fullscreen-search-holder .edgtf-search-close:hover {
  color: #ffffff;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-icon-pack {
  font-size: 25px;
  line-height: 1em;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-icon-pack * {
  display: block;
  line-height: inherit;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-svg-path > * {
  vertical-align: middle;
}

.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-svg-path > *,
.edgtf-fullscreen-search-holder .edgtf-search-close.edgtf-search-close-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

/* Fullscreen search general style - end
========================================================================== */
/* Fullscreen search fade style - start
========================================================================== */
.edgtf-search-fade .edgtf-fullscreen-search-holder {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  z-index: 112;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.edgtf-search-fade .edgtf-fullscreen-search-holder .edgtf-fullscreen-search-table {
  background-color: rgba(26, 15, 34, 0.95);
  cursor: url(/wp-content/themes/overworld/assets/img/close-button.svg), auto;
}

.edgtf-search-fade-out.edgtf-search-fade .edgtf-fullscreen-search-holder {
  -webkit-animation: search_fade_out .2s ease-out both;
  animation: search_fade_out .2s ease-out both;
}

.edgtf-search-fade-in.edgtf-search-fade .edgtf-fullscreen-search-holder.edgtf-animate {
  -webkit-animation: search_fade_in .3s ease both;
  animation: search_fade_in .3s ease both;
}

.edgtf-search-fade .edgtf-fullscreen-search-holder.edgtf-animate .edgtf-search-close {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Fullscreen search fade style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - end
========================================================================== */
/* ==========================================================================
   Search styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map.css.map */
