.edgtf-meta-box {
  margin: -6px -12px -12px; }
  .edgtf-meta-box .edgtf-meta-box-holder {
    width: 100%; }
  .edgtf-meta-box .edgtf-meta-box-holder .edgtf-page-form-section th {
    width: 250px; }
  .edgtf-meta-box .edgtf-meta-box-holder .edgtf-page-form-section th p {
    font-weight: 400;
    color: #9e9e9e; }
  .edgtf-meta-box .edgtf-meta-box-hidden {
    display: none; }
  .edgtf-meta-box .edgtf-meta-box-holder .edgtf-page-form-container-holder .edgtf-page-form-container-holder {
    border-left: none;
    margin-left: 0; }
  .edgtf-meta-box .edgtf-page.btn-default {
    margin-right: 0; }

div.inside > div > div > div.edgtf-page-form-section:first-child {
  border-top: none; 
}

.edgtf-meta-box-holder .edgtf-page-section-subtitle {
    color: #374a59;
    font-weight: 400;
    display: inline-block;
    margin: 15px 0 15px;
    font-size: 14px;
    position: relative;
    left: 0px;
    padding: 0px 20px;
    border-left: 3px solid #bba011;
}

.edgtf-meta-box .iris-picker,
.edgtf-meta-box .iris-picker * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/*# sourceMappingURL=edgtf-meta-boxes.css.map */