/* ==========================================================================
   Gutenberg styles - begin
   ========================================================================== */
/* ==========================================================================
   #Blocks styles - start
   ========================================================================== */
.wp-block-group.has-background,
p.has-background {
  margin: 2rem 0;
  padding: 20px 30px;
}

.wp-block-audio {
  width: 100%;
}

.wp-block-audio audio {
  width: auto;
}

.wp-block-audio.alignleft audio,
.wp-block-audio.alignright audio {
  max-width: 50%;
}

.wp-block-audio.aligncenter audio {
  display: block;
  margin: 0 auto;
}

.wp-block-video video {
  width: 100%;
}

.wp-block-button {
  margin: 2rem 0;
}

.wp-block-button .wp-block-button__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 13px 71px;
  color: #fff;
  background-color: #6b54b6;
  border: 2px solid transparent;
  cursor: pointer;
}

.wp-block-button .wp-block-button__link:hover {
  color: #fff;
  background-color: #fd3147;
  border-color: transparent;
}

.wp-block-button.alignleft {
  margin-top: 0;
  margin-right: 2rem;
}

.wp-block-button.alignright {
  margin-top: 0;
  margin-left: 2rem;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  color: #fff;
  background-color: transparent;
  border: 2px solid #6b54b6;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
  color: #fff;
  background-color: #6b54b6;
  border-color: #6b54b6;
}

.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts,
.wp-block-rss {
  margin: 0;
  padding-left: 0;
}

.wp-block-archives ul,
.wp-block-categories ul,
.wp-block-latest-posts ul,
.wp-block-rss ul {
  padding-left: 0 !important;
}

.wp-block-archives li,
.wp-block-categories li,
.wp-block-latest-posts li,
.wp-block-rss li {
  margin-bottom: 1em;
  list-style-type: none;
}

.wp-block-archives li a,
.wp-block-categories li a,
.wp-block-latest-posts li a,
.wp-block-rss li a {
  color: #ffffff;
  text-decoration: none;
}

.wp-block-archives li a:hover,
.wp-block-categories li a:hover,
.wp-block-latest-posts li a:hover,
.wp-block-rss li a:hover {
  color: #6b54b6;
}

.wp-block-archives.aligncenter,
.wp-block-categories.aligncenter,
.wp-block-latest-posts.aligncenter,
.wp-block-rss.aligncenter {
  text-align: center;
}

.wp-block-categories li ul {
  margin: 4px 0 0;
  padding: 0 0 0 10px;
  list-style-type: none;
}

.wp-block-categories li ul li:last-child {
  padding: 4px 0 0;
}

.wp-block-categories.is-grid li {
  margin: 0 16px 16px 0;
}

.wp-block-preformatted {
  padding: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.wp-block-verse {
  font-family: inherit;
  font-size: 22px;
  line-height: 1.8;
}

.has-drop-cap:not(:focus):first-letter {
  font-family: inherit;
  font-size: 3.375em;
  line-height: 1;
  font-weight: 700;
  margin: 0 0.25em 0 0;
}

.has-large-font-size {
  font-family: "Rajdhani", sans-serif !important;
  font-size: 28px !important;
  line-height: 1em !important;
  letter-spacing: -0.02em !important;
}

.wp-block-media-text.alignwide {
  padding-bottom: 28px;
}

blockquote.wp-block-pullquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 14px 0 11px !important;
  padding: 0 20px !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  text-align: left;
  quotes: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none !important;
  color: #ffffff !important;
  font-family: "Rajdhani", sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

blockquote.wp-block-pullquote > * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}

blockquote.wp-block-pullquote:before, blockquote.wp-block-pullquote:after {
  content: '';
}

blockquote.wp-block-pullquote:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 100%;
  background-color: #6b54b6;
}

blockquote.wp-block-pullquote cite,
blockquote.wp-block-pullquote .wp-block-quote__citation,
blockquote.wp-block-pullquote .wp-block-pullquote__citation,
blockquote.wp-block-pullquote footer {
  display: block !important;
  margin-top: 10px !important;
  text-align: inherit !important;
  font-size: 14px !important;
  line-height: 1.3em !important;
  letter-spacing: 0 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

blockquote.wp-block-pullquote .wp-block-pullquote__citation {
  margin-top: 5px !important;
}

blockquote.wp-block-pullquote.aligncenter {
  width: 100%;
}

blockquote.wp-block-pullquote.alignleft {
  text-align: left;
  max-width: 100%;
}

blockquote.wp-block-pullquote.alignright {
  text-align: right;
  max-width: 100%;
}

blockquote.wp-block-pullquote p {
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: inherit !important;
  margin: 0;
}

.wp-block-pullquote {
  margin: 0;
}

.wp-block-pullquote blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 14px 0 11px !important;
  padding: 0 20px !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  text-align: left;
  quotes: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none !important;
  color: #ffffff !important;
  font-family: "Rajdhani", sans-serif;
  width: auto;
  text-align: center;
}

.wp-block-pullquote blockquote > * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}

.wp-block-pullquote blockquote:before, .wp-block-pullquote blockquote:after {
  content: '';
}

.wp-block-pullquote blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 100%;
  background-color: #6b54b6;
}

.wp-block-pullquote blockquote cite,
.wp-block-pullquote blockquote .wp-block-quote__citation,
.wp-block-pullquote blockquote .wp-block-pullquote__citation,
.wp-block-pullquote blockquote footer {
  display: block !important;
  margin-top: 10px !important;
  text-align: inherit !important;
  font-size: 14px !important;
  line-height: 1.3em !important;
  letter-spacing: 0 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

.wp-block-pullquote blockquote .wp-block-pullquote__citation {
  margin-top: 5px !important;
}

.wp-block-pullquote p {
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: inherit !important;
}

.wp-block-quote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 14px 0 11px !important;
  padding: 0 20px !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  text-align: left;
  quotes: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none !important;
  color: #ffffff !important;
  font-family: "Rajdhani", sans-serif;
}

.wp-block-quote > * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}

.wp-block-quote:before, .wp-block-quote:after {
  content: '';
}

.wp-block-quote:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 100%;
  background-color: #6b54b6;
}

.wp-block-quote cite,
.wp-block-quote .wp-block-quote__citation,
.wp-block-quote .wp-block-pullquote__citation,
.wp-block-quote footer {
  display: block !important;
  margin-top: 10px !important;
  text-align: inherit !important;
  font-size: 14px !important;
  line-height: 1.3em !important;
  letter-spacing: 0 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

.wp-block-quote .wp-block-pullquote__citation {
  margin-top: 5px !important;
}

.wp-block-quote > p {
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: inherit !important;
  margin: 0;
}

.wp-block-quote > * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  margin: 1rem 0;
  font-size: 1.6875em !important;
  line-height: 1.6em !important;
}

figure.wp-block-image {
  margin: 0;
}

figure.wp-block-image img {
  display: block;
}

figure.wp-block-image.alignleft, figure.wp-block-image.aligncenter, figure.wp-block-image.alignright {
  max-width: 100%;
}

figure.wp-block-image.alignfull {
  left: auto;
  max-width: 100%;
}

figure.wp-block-image.alignfull img {
  width: 100vw;
}

.wp-block-cover-image,
.wp-block-cover {
  position: relative;
  min-height: 430px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .wp-block-cover-image,
  .wp-block-cover {
    padding: 1rem 4%;
  }
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 35px;
  line-height: 1em;
  letter-spacing: -0.02em;
  text-transform: none;
  font-size: 28px !important;
  font-weight: 400;
  margin-bottom: 0;
  color: #ffffff !important;
}

.wp-block-cover-image.aligncenter h2,
.wp-block-cover-image.aligncenter .wp-block-cover-image-text,
.wp-block-cover-image.aligncenter .wp-block-cover-text,
.wp-block-cover.aligncenter h2,
.wp-block-cover.aligncenter .wp-block-cover-image-text,
.wp-block-cover.aligncenter .wp-block-cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
}

.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright,
.wp-block-cover.alignleft,
.wp-block-cover.alignright {
  width: 100%;
}

.wp-block-cover-image.alignfull .wp-block-cover-image-text,
.wp-block-cover-image.alignfull .wp-block-cover-text,
.wp-block-cover-image.alignfull h2,
.wp-block-cover.alignfull .wp-block-cover-image-text,
.wp-block-cover.alignfull .wp-block-cover-text,
.wp-block-cover.alignfull h2 {
  max-width: calc(8 * (100vw / 12) - 28px);
}

.wp-block-gallery {
  list-style-type: none;
  padding-left: 0;
}

.wp-block-gallery .blocks-gallery-image:last-child,
.wp-block-gallery .blocks-gallery-item:last-child {
  margin-bottom: 16px;
}

.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  font-size: 0.71111em;
  font-family: inherit;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wp-block-separator,
hr {
  background-color: #767676;
  border: 0;
  height: 2px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 100px;
  text-align: left;
  /* Remove duplicate rule-line when a separator
     * is followed by an H1, or H2 */
}

.wp-block-separator.is-style-wide,
hr.is-style-wide {
  max-width: 100%;
}

.wp-block-separator.is-style-dots,
hr.is-style-dots {
  max-width: 100%;
  background-color: inherit;
  border: inherit;
  height: inherit;
  text-align: center;
}

.wp-block-separator.is-style-dots:before,
hr.is-style-dots:before {
  color: #767676;
  font-size: 1.6875em;
  letter-spacing: 0.88889em;
  padding-left: 0.88889em;
}

.wp-block-separator + h1:before,
.wp-block-separator + h2:before,
hr + h1:before,
hr + h2:before {
  display: none;
}

.wp-block-embed-twitter {
  overflow: hidden;
}

.wp-block-embed {
  margin: 0;
}

.wp-block-table th,
.wp-block-table td {
  border-width: 1px;
  border-style: solid;
  padding: 2px 10px;
  text-align: center;
  border-color: #bab9bb;
}

table thead tr, table thead th,
table tbody tr,
table tbody th {
  border-color: #bab9bb;
}

.edgtf-comment-holder .edgtf-comment-text .edgtf-comment-info {
  max-width: 76%;
}

.wp-block-file {
  font-family: inherit;
}

.wp-block-file .wp-block-file__button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 12px 65px;
  color: #fff;
  background-color: #6b54b6;
  border: 2px solid transparent;
  cursor: pointer;
  margin-left: .75em;
}

.wp-block-file .wp-block-file__button:hover {
  color: #fff;
  background-color: #fd3147;
  border-color: transparent;
}

.wp-block-embed-instagram iframe {
  margin-bottom: 40px !important;
}

.wp-block-code {
  border-radius: 0;
}

.wp-block-code code {
  font-size: 1.125em;
  white-space: pre-wrap;
  word-break: break-word;
}

.wp-block-columns {
  margin-top: 28px;
}

@media only screen and (min-width: 768px) {
  .wp-block-columns .wp-block-column > *:first-child {
    margin-top: 0;
  }
  .wp-block-columns .wp-block-column > *:last-child {
    margin-bottom: 0;
  }
  .wp-block-columns[class*='has-'] > * {
    margin-right: 1rem;
  }
  .wp-block-columns[class*='has-'] > *:last-child {
    margin-right: 0;
  }
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-weight: 700;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  font-weight: normal;
}

.wp-block-latest-comments .wp-block-latest-comments__comment,
.wp-block-latest-comments .wp-block-latest-comments__comment-date,
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}

.has-primary-background-color {
  background-color: #6b54b6;
}

.has-primary-background-color p,
.has-primary-background-color h1,
.has-primary-background-color h2,
.has-primary-background-color h3,
.has-primary-background-color h4,
.has-primary-background-color h5,
.has-primary-background-color h6,
.has-primary-background-color a {
  color: #fff;
}

/* ==========================================================================
   #Blocks styles - end
   ========================================================================== */
/* ==========================================================================
   Gutenberg styles - end
   ========================================================================== */

/*# sourceMappingURL=gutenberg-map.css.map */
