/* ==========================================================================
   Title styles - begin
   ========================================================================== */
/* ==========================================================================
   Title style - begin
   ========================================================================== */
.edgtf-title-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 240px;
  background-color: #6b54b6;
  background-position: center 0;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 10px 27px 0px rgba(14, 8, 18, 0.5);
  box-shadow: 0px 10px 27px 0px rgba(14, 8, 18, 0.5);
  z-index: 101;
}

.edgtf-title-holder.edgtf-title-full-width .edgtf-grid {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.edgtf-title-holder.edgtf-bg-responsive {
  height: auto !important;
}

.edgtf-title-holder.edgtf-bg-responsive .edgtf-title-image {
  display: block;
}

.edgtf-title-holder.edgtf-bg-responsive .edgtf-title-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-title-holder.edgtf-bg-parallax {
  background-attachment: fixed;
}

.edgtf-title-holder .edgtf-title-image {
  display: none;
}

.edgtf-title-holder .edgtf-title-image img {
  display: block;
  width: 100%;
}

.edgtf-title-holder .edgtf-title-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.edgtf-title-holder .edgtf-title-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.edgtf-title-holder.edgtf-title-with-separator .edgtf-title-info {
  padding-left: 39px;
  position: relative;
}

.edgtf-title-holder.edgtf-title-with-separator .edgtf-title-info:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 90%;
  background-color: #6b54b6;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ==========================================================================
   Title style - end
   ========================================================================== */
/* ==========================================================================
   Breadcrumbs Title type style - begin
   ========================================================================== */
.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  color: #ffffff;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs.edgtf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs.edgtf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs a,
.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.43em;
  color: #6b54b6;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: inherit;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs .edgtf-delimiter {
  margin: 0 -3px;
}

.edgtf-title-holder.edgtf-breadcrumbs-type .edgtf-breadcrumbs a:hover {
  color: #ffffff;
}

/* ==========================================================================
   Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type style - begin
   ========================================================================== */
.edgtf-title-holder.edgtf-centered-type .edgtf-title-inner {
  text-align: center;
}

.edgtf-title-holder.edgtf-centered-type .edgtf-page-title {
  margin: 0;
}

.edgtf-title-holder.edgtf-centered-type .edgtf-page-subtitle {
  display: block;
  margin: 10px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Centered Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard With Breadcrumbs Title type style - begin
   ========================================================================== */
.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-title-info {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 39px;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs-info {
  white-space: nowrap;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-page-title {
  margin: 0;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-page-subtitle {
  margin: 5px 0 0;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs {
  margin-bottom: 13px;
  color: #ffffff;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs.edgtf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs.edgtf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs a,
.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.43em;
  color: #6b54b6;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: inherit;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs .edgtf-delimiter {
  margin: 0 -3px;
}

.edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs a:hover {
  color: #ffffff;
}

/* ==========================================================================
   Standard With Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard Title type style - begin
   ========================================================================== */
.edgtf-title-holder.edgtf-standard-type .edgtf-page-title {
  margin: 0;
}

.edgtf-title-holder.edgtf-standard-type .edgtf-page-subtitle {
  margin: 10px 0 0;
}

/* ==========================================================================
   Standard Title type style - end
   ========================================================================== */
/* ==========================================================================
   Title styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map.css.map */
