/* ==========================================================================
   Author Info widget style - begin
   ========================================================================== */
.edgtf-author-info-widget {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #22152c;
}

.edgtf-author-info-widget .edgtf-aiw-inner {
  -webkit-box-shadow: 0px 10px 27px 0px rgba(14, 8, 18, 0.5);
  box-shadow: 0px 10px 27px 0px rgba(14, 8, 18, 0.5);
}

.edgtf-author-info-widget .edgtf-author-info-additional {
  padding: 23px 25px 38px;
}

.edgtf-author-info-widget .edgtf-aiw-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.edgtf-author-info-widget .edgtf-aiw-image img {
  display: block;
  width: 100%;
}

.edgtf-author-info-widget .edgtf-aiw-title {
  margin: 28px 0 5px;
  position: relative;
  padding-left: 20px;
}

.edgtf-author-info-widget .edgtf-aiw-title:before {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  content: '';
  height: calc(100% - 11px);
  width: 3px;
  background-color: #6b54b6;
}

.edgtf-author-info-widget .edgtf-aiw-text {
  display: block;
  margin: 10px 0 0;
}

/* ==========================================================================
   Author Info widget style - end
   ========================================================================== */

/*# sourceMappingURL=author-info-widget-map.css.map */
