/* ==========================================================================
   Social Icon widget style - begin
   ========================================================================== */
.edgtf-social-icon-widget-holder {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.edgtf-social-icon-widget-holder .edgtf-social-icon-widget {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-social-icon-widget-holder {
  color: #ffffff !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-social-icon-widget-holder:hover {
  color: #6b54b6 !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-social-icon-widget-holder {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-social-icon-widget-holder:hover {
  color: #6b54b6 !important;
}

/* ==========================================================================
   Social Icon widget style - end
   ========================================================================== */

/*# sourceMappingURL=social-icon-widget-map.css.map */
