/* ==========================================================================
   Admin styles - begin
   ========================================================================== */
/* ==========================================================================
   #Blocks styles - start
   ========================================================================== */
.editor-block-list__layout .editor-default-block-appender > .editor-default-block-appender__content,
.editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
.editor-block-list__layout > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 600px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] > .editor-block-list__block-edit {
    margin-left: -28px;
    margin-right: -28px;
  }
}

.block-editor .wp-block {
  max-width: 812px;
}

.block-editor .editor-styles-wrapper,
.block-editor .editor-styles-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #bab9bb;
  background-color: #1b0f23;
  -webkit-font-smoothing: antialiased;
}

.block-editor .editor-styles-wrapper .mce-content-body,
.block-editor .editor-styles-wrapper .mce-content-body {
  line-height: inherit;
}

.block-editor .editor-styles-wrapper p,
.block-editor .editor-styles-wrapper p {
  font-style: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  font-weight: inherit !important;
  margin: 10px 0;
}

.block-editor .editor-styles-wrapper p.has-large-font-size,
.block-editor .editor-styles-wrapper p.has-large-font-size {
  font-family: "Rajdhani", sans-serif !important;
  font-size: 28px !important;
  line-height: 1em !important;
  letter-spacing: -0.02em !important;
}

.block-editor .editor-styles-wrapper p.has-large-font-size strong,
.block-editor .editor-styles-wrapper p.has-large-font-size strong {
  font-weight: 700 !important;
}

.block-editor .edit-post-visual-editor p.wp-block-subhead {
  font-size: 1.1em !important;
  font-style: italic;
  opacity: .75;
}

.block-editor .edit-post-visual-editor .editor-post-title__block {
  margin-bottom: -30px;
}

.block-editor p.has-background {
  padding: 20px 30px;
}

.block-editor .editor-post-title__block .editor-post-title__input {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: -0.02em;
  padding: 0;
  margin: 0 0 27px;
  text-align: center;
}

.block-editor .editor-rich-text__tinymce a {
  color: #ffffff;
  text-decoration: none;
}

.block-editor .editor-rich-text__tinymce a:hover {
  color: #6b54b6;
}

.block-editor .wp-block-heading h1, .block-editor .wp-block-heading h2, .block-editor .wp-block-heading h3, .block-editor .wp-block-heading h4, .block-editor .wp-block-heading h5, .block-editor .wp-block-heading h6,
.block-editor .wp-block-freeform h1,
.block-editor .wp-block-freeform h2,
.block-editor .wp-block-freeform h3,
.block-editor .wp-block-freeform h4,
.block-editor .wp-block-freeform h5,
.block-editor .wp-block-freeform h6,
.block-editor .wp-block h1,
.block-editor .wp-block h2,
.block-editor .wp-block h3,
.block-editor .wp-block h4,
.block-editor .wp-block h5,
.block-editor .wp-block h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.block-editor .wp-block-heading h1 a, .block-editor .wp-block-heading h2 a, .block-editor .wp-block-heading h3 a, .block-editor .wp-block-heading h4 a, .block-editor .wp-block-heading h5 a, .block-editor .wp-block-heading h6 a,
.block-editor .wp-block-freeform h1 a,
.block-editor .wp-block-freeform h2 a,
.block-editor .wp-block-freeform h3 a,
.block-editor .wp-block-freeform h4 a,
.block-editor .wp-block-freeform h5 a,
.block-editor .wp-block-freeform h6 a,
.block-editor .wp-block h1 a,
.block-editor .wp-block h2 a,
.block-editor .wp-block h3 a,
.block-editor .wp-block h4 a,
.block-editor .wp-block h5 a,
.block-editor .wp-block h6 a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.block-editor .wp-block-heading h1 a:hover, .block-editor .wp-block-heading h2 a:hover, .block-editor .wp-block-heading h3 a:hover, .block-editor .wp-block-heading h4 a:hover, .block-editor .wp-block-heading h5 a:hover, .block-editor .wp-block-heading h6 a:hover,
.block-editor .wp-block-freeform h1 a:hover,
.block-editor .wp-block-freeform h2 a:hover,
.block-editor .wp-block-freeform h3 a:hover,
.block-editor .wp-block-freeform h4 a:hover,
.block-editor .wp-block-freeform h5 a:hover,
.block-editor .wp-block-freeform h6 a:hover,
.block-editor .wp-block h1 a:hover,
.block-editor .wp-block h2 a:hover,
.block-editor .wp-block h3 a:hover,
.block-editor .wp-block h4 a:hover,
.block-editor .wp-block h5 a:hover,
.block-editor .wp-block h6 a:hover {
  color: #6b54b6;
}

.block-editor .wp-block-heading h1,
.block-editor .wp-block-freeform h1,
.block-editor .wp-block h1 {
  font-size: 80px;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.block-editor .wp-block-heading h2,
.block-editor .wp-block-freeform h2,
.block-editor .wp-block h2 {
  font-size: 60px;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.block-editor .wp-block-heading h3,
.block-editor .wp-block-freeform h3,
.block-editor .wp-block h3 {
  font-size: 35px;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.block-editor .wp-block-heading h4,
.block-editor .wp-block-freeform h4,
.block-editor .wp-block h4 {
  font-size: 25px;
  line-height: 1em;
  letter-spacing: 0;
}

.block-editor .wp-block-heading h5,
.block-editor .wp-block-freeform h5,
.block-editor .wp-block h5 {
  font-size: 20px;
  line-height: 1.05em;
  letter-spacing: 0.02em;
}

.block-editor .wp-block-heading h6,
.block-editor .wp-block-freeform h6,
.block-editor .wp-block h6 {
  font-size: 14px;
  line-height: 1.43em;
  color: #6b54b6;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.block-editor .wp-block-table__cell-content {
  padding: inherit;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce ul, .block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce ol {
  list-style-position: inside;
  margin: 15px 0;
  padding-left: 0;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6 {
  color: #6b54b6;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce ul ul,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce ol ol,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce ol ul,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce ul ol {
  margin: 0;
  padding: 0 0 0 15px;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce ul ul,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce ol ul {
  list-style-type: circle;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce a,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce p a {
  color: #bab9bb;
  text-decoration: none;
  transition: color .2s ease-out;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce a:hover,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce p a:hover {
  color: #6b54b6;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce dt {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce dd {
  margin: 0 0 15px;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce strong {
  font-weight: 700;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce code,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce kbd {
  font-family: monospace;
  background: transparent;
  border-radius: 0;
  color: inherit;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce pre {
  max-width: 100%;
  margin: 15px 0;
  padding: 15px;
  font-size: 15px;
  color: #bab9bb;
  background-color: #1b0f23;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce table thead tr, .block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce table thead th,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce table tbody tr,
.block-editor .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce table tbody th {
  border-color: #bab9bb;
}

.block-editor .wp-block-code, .block-editor .wp-block-preformatted {
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.block-editor .wp-block-code pre, .block-editor .wp-block-preformatted pre {
  font-family: monospace;
  color: #bab9bb;
  display: block;
  border: 0;
  border-radius: 0;
  padding: 15px;
  margin: 15px 0;
}

.block-editor .wp-block-code {
  border-radius: 0;
  padding: 15px;
  margin: 15px 0;
  border: 0;
}

.block-editor .wp-block-code .editor-plain-text {
  font-size: 16px;
  color: #bab9bb;
}

.block-editor ul li, .block-editor ol li {
  margin: 0;
}

.block-editor ul ul,
.block-editor ol ol,
.block-editor ol ul,
.block-editor ul ol {
  margin: 0;
  padding: 0 0 0 15px;
}

.block-editor .block-library-list {
  margin: 15px 0;
  padding: 0;
}

.block-editor .block-library-list ol, .block-editor .block-library-list ul {
  margin: 0;
  margin-left: 1.5em;
}

.block-editor .block-library-list ol li, .block-editor .block-library-list ul li {
  margin: 0;
}

.block-editor .block-library-list ul ul,
.block-editor .block-library-list ol ol,
.block-editor .block-library-list ol ul,
.block-editor .block-library-list ul ol {
  margin: 0 !important;
  padding: 0 0 0 15px !important;
}

.block-editor .editor-styles-wrapper ol, .block-editor .editor-styles-wrapper ul {
  list-style-position: inside;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment {
  margin-bottom: 45px;
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-avatar {
  float: none;
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta a {
  color: #ffffff;
  text-decoration: none;
}

.block-editor .wp-block-audio {
  width: 100%;
}

.block-editor .wp-block-audio audio {
  width: auto;
}

.block-editor .wp-block-audio.alignleft audio,
.block-editor .wp-block-audio.alignright audio {
  max-width: 50%;
}

.block-editor .wp-block-audio.aligncenter audio {
  display: block;
  margin: 0 auto;
}

.block-editor .wp-block-video video {
  width: 100%;
}

.block-editor .wp-block-button .wp-block-button__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none;
  box-sizing: border-box;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 13px 71px;
  color: #fff;
  background-color: #6b54b6;
  border: 2px solid transparent;
  cursor: pointer;
}

.block-editor .wp-block-button .wp-block-button__link:hover {
  color: #fff;
  background-color: #fd3147;
  border-color: transparent;
}

.block-editor .wp-block-button.is-style-outline .wp-block-button__link {
  color: #fff;
  background-color: transparent;
  border: 2px solid #6b54b6;
}

.block-editor .wp-block-button.is-style-outline .wp-block-button__link:hover {
  color: #fff;
  background-color: #6b54b6;
  border-color: #6b54b6;
}

.block-editor ul.wp-block-archives {
  padding-left: 0;
}

.block-editor .wp-block-archives,
.block-editor .wp-block-categories,
.block-editor .wp-block-latest-posts,
.block-editor .wp-block-rss {
  margin: 0;
  padding-left: 0;
}

.block-editor .wp-block-archives ul,
.block-editor .wp-block-categories ul,
.block-editor .wp-block-latest-posts ul,
.block-editor .wp-block-rss ul {
  padding-left: 0;
}

.block-editor .wp-block-archives li,
.block-editor .wp-block-categories li,
.block-editor .wp-block-latest-posts li,
.block-editor .wp-block-rss li {
  margin-bottom: 1em;
  list-style-type: none;
}

.block-editor .wp-block-archives li a,
.block-editor .wp-block-categories li a,
.block-editor .wp-block-latest-posts li a,
.block-editor .wp-block-rss li a {
  color: #ffffff;
  text-decoration: none;
}

.block-editor .wp-block-archives li a:hover,
.block-editor .wp-block-categories li a:hover,
.block-editor .wp-block-latest-posts li a:hover,
.block-editor .wp-block-rss li a:hover {
  color: #6b54b6;
}

.block-editor .wp-block-archives.aligncenter,
.block-editor .wp-block-categories.aligncenter,
.block-editor .wp-block-latest-posts.aligncenter,
.block-editor .wp-block-rss.aligncenter {
  text-align: center;
}

.block-editor .wp-block-categories li ul {
  margin: 4px 0 0;
  padding: 0 0 0 10px;
  list-style-type: none;
}

.block-editor .wp-block-categories li ul li:last-child {
  padding: 4px 0 0;
}

.block-editor .wp-block-latest-posts.is-grid li {
  margin: 0 16px 16px 0;
}

.block-editor .wp-block-verse pre,
.block-editor pre.wp-block-verse {
  color: #bab9bb;
  font-family: inherit;
  font-size: 22px;
  line-height: 1.8;
  padding: 15px;
  margin: 15px 0;
}

.block-editor .has-drop-cap:not(:focus):first-letter {
  font-family: inherit;
  font-size: 3.375em;
  line-height: 1;
  font-weight: 700;
  margin: 0 0.25em 0 0;
}

.block-editor blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 14px 0 11px !important;
  padding: 0 20px !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  text-align: left;
  quotes: none;
  box-sizing: border-box;
  border: none !important;
  color: #ffffff !important;
  font-family: "Rajdhani", sans-serif;
}

.block-editor blockquote > * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}

.block-editor blockquote:before, .block-editor blockquote:after {
  content: '';
}

.block-editor blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 100%;
  background-color: #6b54b6;
}

.block-editor blockquote cite,
.block-editor blockquote .wp-block-quote__citation,
.block-editor blockquote .wp-block-pullquote__citation,
.block-editor blockquote footer {
  display: block !important;
  margin-top: 10px !important;
  text-align: inherit !important;
  font-size: 14px !important;
  line-height: 1.3em !important;
  letter-spacing: 0 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

.block-editor blockquote .wp-block-pullquote__citation {
  margin-top: 5px !important;
}

.block-editor blockquote p {
  margin: 0 !important;
}

.block-editor blockquote.is-large, .block-editor blockquote.is-style-large {
  margin: 1rem 0;
  font-size: 1.6875em !important;
  line-height: 1.6em !important;
}

.block-editor .wp-block-pullquote {
  margin: 0;
  border: none;
}

.block-editor .wp-block-pullquote blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 14px 0 11px !important;
  padding: 0 20px !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  text-align: left;
  quotes: none;
  box-sizing: border-box;
  border: none !important;
  color: #ffffff !important;
  font-family: "Rajdhani", sans-serif;
}

.block-editor .wp-block-pullquote blockquote > * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}

.block-editor .wp-block-pullquote blockquote:before, .block-editor .wp-block-pullquote blockquote:after {
  content: '';
}

.block-editor .wp-block-pullquote blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 100%;
  background-color: #6b54b6;
}

.block-editor .wp-block-pullquote blockquote cite,
.block-editor .wp-block-pullquote blockquote .wp-block-quote__citation,
.block-editor .wp-block-pullquote blockquote .wp-block-pullquote__citation,
.block-editor .wp-block-pullquote blockquote footer {
  display: block !important;
  margin-top: 10px !important;
  text-align: inherit !important;
  font-size: 14px !important;
  line-height: 1.3em !important;
  letter-spacing: 0 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

.block-editor .wp-block-pullquote blockquote .wp-block-pullquote__citation {
  margin-top: 5px !important;
}

.block-editor .wp-block-pullquote.alignleft blockquote {
  text-align: left;
  max-width: 100%;
}

.block-editor .wp-block-pullquote.alignright blockquote {
  text-align: right;
  max-width: 100%;
}

.block-editor .wp-block-quote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 14px 0 11px !important;
  padding: 0 20px !important;
  font-size: 20px !important;
  line-height: 27px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  text-align: left;
  quotes: none;
  box-sizing: border-box;
  border: none !important;
  color: #ffffff !important;
  font-family: "Rajdhani", sans-serif;
}

.block-editor .wp-block-quote > * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}

.block-editor .wp-block-quote:before, .block-editor .wp-block-quote:after {
  content: '';
}

.block-editor .wp-block-quote:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 100%;
  background-color: #6b54b6;
}

.block-editor .wp-block-quote cite,
.block-editor .wp-block-quote .wp-block-quote__citation,
.block-editor .wp-block-quote .wp-block-pullquote__citation,
.block-editor .wp-block-quote footer {
  display: block !important;
  margin-top: 10px !important;
  text-align: inherit !important;
  font-size: 14px !important;
  line-height: 1.3em !important;
  letter-spacing: 0 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

.block-editor .wp-block-quote .wp-block-pullquote__citation {
  margin-top: 5px !important;
}

.block-editor .wp-block-quote.is-large, .block-editor .wp-block-quote.is-style-large {
  margin: 1rem 0;
  font-size: 1.6875em !important;
  line-height: 1.6em !important;
}

.block-editor .wp-block-quote__citation {
  font-weight: 400 !important;
  font-size: 14px !important;
  margin-top: 0 !important;
  color: #ffffff;
}

.block-editor .wp-block-image img {
  display: block;
}

.block-editor .wp-block-image.alignleft, .block-editor .wp-block-image.alignright {
  max-width: 100%;
}

.block-editor .wp-block-image.alignfull img {
  width: 100vw;
}

.block-editor .wp-block-cover-image,
.block-editor .wp-block-cover {
  position: relative;
  min-height: 430px;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .block-editor .wp-block-cover-image,
  .block-editor .wp-block-cover {
    padding: 1rem 4%;
  }
}

.block-editor .wp-block-cover-image .wp-block-cover-image-text,
.block-editor .wp-block-cover-image .wp-block-cover-text,
.block-editor .wp-block-cover-image h2,
.block-editor .wp-block-cover .wp-block-cover-image-text,
.block-editor .wp-block-cover .wp-block-cover-text,
.block-editor .wp-block-cover h2 {
  font-size: 35px;
  line-height: 1em;
  letter-spacing: -0.02em;
  font-size: 28px !important;
}

.block-editor .wp-block-cover-image.aligncenter h2,
.block-editor .wp-block-cover-image.aligncenter .wp-block-cover-image-text,
.block-editor .wp-block-cover-image.aligncenter .wp-block-cover-text,
.block-editor .wp-block-cover.aligncenter h2,
.block-editor .wp-block-cover.aligncenter .wp-block-cover-image-text,
.block-editor .wp-block-cover.aligncenter .wp-block-cover-text {
  width: 100%;
  z-index: 1;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.block-editor .wp-block-cover-image.alignleft, .block-editor .wp-block-cover-image.alignright,
.block-editor .wp-block-cover.alignleft,
.block-editor .wp-block-cover.alignright {
  width: 100%;
}

.block-editor .wp-block-cover-image.alignfull .wp-block-cover-image-text,
.block-editor .wp-block-cover-image.alignfull .wp-block-cover-text,
.block-editor .wp-block-cover-image.alignfull h2,
.block-editor .wp-block-cover.alignfull .wp-block-cover-image-text,
.block-editor .wp-block-cover.alignfull .wp-block-cover-text,
.block-editor .wp-block-cover.alignfull h2 {
  max-width: calc(8 * (100vw / 12) - 28px);
}

.block-editor .wp-block-cover-image .block-editor-block-list__block,
.block-editor .wp-block-cover .block-editor-block-list__block {
  font-size: 28px;
}

.block-editor .has-large-font-size {
  font-size: 28px !important;
}

.block-editor .wp-block-gallery {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.block-editor .wp-block-gallery .blocks-gallery-image:last-child,
.block-editor .wp-block-gallery .blocks-gallery-item:last-child {
  margin-bottom: 16px;
}

.block-editor .wp-block-audio figcaption,
.block-editor .wp-block-video figcaption,
.block-editor .wp-block-image figcaption,
.block-editor .wp-block-gallery .blocks-gallery-image figcaption,
.block-editor .wp-block-gallery .blocks-gallery-item figcaption {
  font-size: 0.71111em;
  font-family: inherit;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  color: #bab9bb;
}

.block-editor .wp-block-table figcaption {
  color: #bab9bb;
  font-size: 15px;
}

.block-editor .wp-block-separator,
.block-editor hr {
  background-color: #767676;
  border: 0;
  height: 2px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 100px;
  text-align: left;
  /* Remove duplicate rule-line when a separator
		 * is followed by an H1, or H2 */
}

.block-editor .wp-block-separator.is-style-wide,
.block-editor hr.is-style-wide {
  max-width: 100%;
}

.block-editor .wp-block-separator.is-style-dots,
.block-editor hr.is-style-dots {
  max-width: 100%;
  background-color: inherit;
  border: inherit;
  height: inherit;
  text-align: center;
}

.block-editor .wp-block-separator.is-style-dots:before,
.block-editor hr.is-style-dots:before {
  color: #767676;
  font-size: 1.6875em;
  letter-spacing: 0.88889em;
  padding-left: 0.88889em;
}

.block-editor .wp-block-separator + h1:before,
.block-editor .wp-block-separator + h2:before,
.block-editor hr + h1:before,
.block-editor hr + h2:before {
  display: none;
}

.block-editor .wp-block-embed-twitter {
  overflow: hidden;
}

.block-editor .wp-block-table tr {
  border-width: 1px;
  border-style: solid;
  padding: 2px 10px;
  text-align: center;
  border-color: #bab9bb;
}

.block-editor .wp-block-table th, .block-editor .wp-block-table td {
  border: none;
  padding: 5px 10px;
}

.block-editor .mce-item-table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
  width: 100%;
}

.block-editor .mce-item-table tbody th {
  border-right: 1px solid #22152c;
}

.block-editor .wp-block-file {
  font-family: inherit;
}

.block-editor .wp-block-file .wp-block-file__button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none;
  box-sizing: border-box;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 12px 65px;
  color: #fff;
  background-color: #6b54b6;
  border: 2px solid transparent;
  cursor: pointer;
}

.block-editor .wp-block-file .wp-block-file__button:hover {
  color: #fff;
  background-color: #fd3147;
  border-color: transparent;
}

.block-editor .wp-block-code {
  border-radius: 0;
}

.block-editor .wp-block-code code {
  font-size: 1.125em;
  white-space: pre-wrap;
  word-break: break-word;
}

@media only screen and (min-width: 768px) {
  .block-editor .wp-block-columns .wp-block-column > *:first-child {
    margin-top: 0;
  }
  .block-editor .wp-block-columns .wp-block-column > *:last-child {
    margin-bottom: 0;
  }
  .block-editor .wp-block-columns[class*='has-'] > * {
    margin-right: 1rem;
  }
  .block-editor .wp-block-columns[class*='has-'] > *:last-child {
    margin-right: 0;
  }
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-weight: 700;
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  font-weight: normal;
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment,
.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment-date,
.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}

.block-editor .has-primary-background-color {
  background-color: #6b54b6;
}

.block-editor .has-primary-background-color p,
.block-editor .has-primary-background-color h1,
.block-editor .has-primary-background-color h2,
.block-editor .has-primary-background-color h3,
.block-editor .has-primary-background-color h4,
.block-editor .has-primary-background-color h5,
.block-editor .has-primary-background-color h6,
.block-editor .has-primary-background-color a {
  color: #fff;
}

.block-editor .block-editor-rich-text__editable a {
  color: #ffffff;
  text-decoration: none;
}

.block-editor .block-editor-rich-text__editable code {
  background-color: transparent;
  color: #bab9bb;
}

.block-editor .block-editor-rich-text__editable.editor-rich-text__editable.wp-block-paragraph a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}

.block-editor .block-editor-rich-text__editable.editor-rich-text__editable.wp-block-paragraph a:hover {
  color: #6b54b6;
  cursor: pointer;
}

.block-editor .block-editor-block-list__layout .block-editor-block-list__block[data-align=full] {
  margin: 0 auto;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce {
  /*html, body,*/
  /* tables still need 'cellspacing="0"' in the markup */
  /* #Reset default styles - end
		   ========================================================================== */
  /* #General styles that are used in our theme - start
		 * Here are defined global styles on body element, on container elements that hold every page,
		 * headings and links, inputs, core wp styles and default pagination styles
		   ========================================================================== */
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce div, .block-editor .wp-block-freeform.block-library-rich-text__tinymce span, .block-editor .wp-block-freeform.block-library-rich-text__tinymce applet, .block-editor .wp-block-freeform.block-library-rich-text__tinymce object, .block-editor .wp-block-freeform.block-library-rich-text__tinymce iframe, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h1, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h2, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h3, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h4, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h5, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h6, .block-editor .wp-block-freeform.block-library-rich-text__tinymce p, .block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote, .block-editor .wp-block-freeform.block-library-rich-text__tinymce pre, .block-editor .wp-block-freeform.block-library-rich-text__tinymce a, .block-editor .wp-block-freeform.block-library-rich-text__tinymce abbr, .block-editor .wp-block-freeform.block-library-rich-text__tinymce acronym, .block-editor .wp-block-freeform.block-library-rich-text__tinymce address, .block-editor .wp-block-freeform.block-library-rich-text__tinymce big, .block-editor .wp-block-freeform.block-library-rich-text__tinymce cite, .block-editor .wp-block-freeform.block-library-rich-text__tinymce code, .block-editor .wp-block-freeform.block-library-rich-text__tinymce del, .block-editor .wp-block-freeform.block-library-rich-text__tinymce dfn, .block-editor .wp-block-freeform.block-library-rich-text__tinymce em, .block-editor .wp-block-freeform.block-library-rich-text__tinymce font,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce ins, .block-editor .wp-block-freeform.block-library-rich-text__tinymce kbd, .block-editor .wp-block-freeform.block-library-rich-text__tinymce q, .block-editor .wp-block-freeform.block-library-rich-text__tinymce s, .block-editor .wp-block-freeform.block-library-rich-text__tinymce samp, .block-editor .wp-block-freeform.block-library-rich-text__tinymce small, .block-editor .wp-block-freeform.block-library-rich-text__tinymce strike, .block-editor .wp-block-freeform.block-library-rich-text__tinymce strong, .block-editor .wp-block-freeform.block-library-rich-text__tinymce sub, .block-editor .wp-block-freeform.block-library-rich-text__tinymce sup, .block-editor .wp-block-freeform.block-library-rich-text__tinymce tt, .block-editor .wp-block-freeform.block-library-rich-text__tinymce var, .block-editor .wp-block-freeform.block-library-rich-text__tinymce b, .block-editor .wp-block-freeform.block-library-rich-text__tinymce u, .block-editor .wp-block-freeform.block-library-rich-text__tinymce i, .block-editor .wp-block-freeform.block-library-rich-text__tinymce center, .block-editor .wp-block-freeform.block-library-rich-text__tinymce dl, .block-editor .wp-block-freeform.block-library-rich-text__tinymce dt, .block-editor .wp-block-freeform.block-library-rich-text__tinymce dd, .block-editor .wp-block-freeform.block-library-rich-text__tinymce ol, .block-editor .wp-block-freeform.block-library-rich-text__tinymce ul, .block-editor .wp-block-freeform.block-library-rich-text__tinymce li, .block-editor .wp-block-freeform.block-library-rich-text__tinymce fieldset, .block-editor .wp-block-freeform.block-library-rich-text__tinymce form, .block-editor .wp-block-freeform.block-library-rich-text__tinymce label, .block-editor .wp-block-freeform.block-library-rich-text__tinymce legend, .block-editor .wp-block-freeform.block-library-rich-text__tinymce table, .block-editor .wp-block-freeform.block-library-rich-text__tinymce caption, .block-editor .wp-block-freeform.block-library-rich-text__tinymce tbody, .block-editor .wp-block-freeform.block-library-rich-text__tinymce tfoot, .block-editor .wp-block-freeform.block-library-rich-text__tinymce thead, .block-editor .wp-block-freeform.block-library-rich-text__tinymce tr, .block-editor .wp-block-freeform.block-library-rich-text__tinymce th, .block-editor .wp-block-freeform.block-library-rich-text__tinymce td {
  background: transparent;
  border: 0;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce article, .block-editor .wp-block-freeform.block-library-rich-text__tinymce aside, .block-editor .wp-block-freeform.block-library-rich-text__tinymce details, .block-editor .wp-block-freeform.block-library-rich-text__tinymce figcaption, .block-editor .wp-block-freeform.block-library-rich-text__tinymce figure, .block-editor .wp-block-freeform.block-library-rich-text__tinymce footer, .block-editor .wp-block-freeform.block-library-rich-text__tinymce header, .block-editor .wp-block-freeform.block-library-rich-text__tinymce nav, .block-editor .wp-block-freeform.block-library-rich-text__tinymce section {
  display: block;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce del {
  text-decoration: line-through;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce table {
  border: medium none;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce table th {
  border: 0;
  padding: 5px 7px;
  text-align: center;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce table td {
  padding: 5px 10px;
  text-align: center;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce a img {
  border: none;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce img, .block-editor .wp-block-freeform.block-library-rich-text__tinymce .wp-caption {
  height: auto;
  max-width: 100%;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce iframe {
  max-width: 100%;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce .clearfix:before,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce .clearfix:after {
  content: " ";
  display: table;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce .clearfix:after {
  clear: both;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce .clearfix {
  *zoom: 1;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce .clear:after {
  clear: both;
  content: "";
  display: block;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce html {
  overflow-y: scroll !important;
  /* for vertical split screen slider shortcode on touch devices */
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #bab9bb;
  background-color: #1b0f23;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h1 {
  font-size: 80px;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h2 {
  font-size: 60px;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h3 {
  font-size: 35px;
  line-height: 1em;
  letter-spacing: -0.02em;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h4 {
  font-size: 25px;
  line-height: 1em;
  letter-spacing: 0;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h5 {
  font-size: 20px;
  line-height: 1.05em;
  letter-spacing: 0.02em;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h6 {
  font-size: 14px;
  line-height: 1.43em;
  color: #6b54b6;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h1, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h2, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h3, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h4, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h5, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h1 a, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h2 a, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h3 a, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h4 a, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h5 a, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h6 a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce h1 a:hover, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h2 a:hover, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h3 a:hover, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h4 a:hover, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h5 a:hover, .block-editor .wp-block-freeform.block-library-rich-text__tinymce h6 a:hover {
  color: #6b54b6;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce a,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce p a {
  color: #ffffff;
  text-decoration: none;
  transition: color .2s ease-out;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce a:hover,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce p a:hover {
  color: #6b54b6;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce p {
  margin: 10px 0;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce input[type='submit'] {
  -webkit-appearance: none;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce ul, .block-editor .wp-block-freeform.block-library-rich-text__tinymce ol {
  list-style-position: inside;
  margin: 15px 0;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce ul ul,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce ol ol,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce ol ul,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce ul ol {
  margin: 0;
  padding: 0 0 0 15px;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce pre {
  max-width: 100%;
  margin: 15px 0;
  padding: 15px;
  background-color: #1b0f23;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce dt {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce dd {
  margin-bottom: 15px;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce sub, .block-editor .wp-block-freeform.block-library-rich-text__tinymce sup {
  position: relative;
  vertical-align: baseline;
  height: 0;
  line-height: 0;
  font-size: 75%;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce sub {
  top: 0.5ex;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce sup {
  bottom: 0.5ex;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce .wp-caption-text {
  font-style: italic;
  margin: 0;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce table {
  width: 100%;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce table thead tr, .block-editor .wp-block-freeform.block-library-rich-text__tinymce table tbody tr {
  border: 1px solid #22152c;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce table tbody th {
  border-right: 1px solid #22152c;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 14px 0 11px;
  padding: 0 20px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  quotes: none;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  font-family: "Rajdhani", sans-serif;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote > * {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote:before, .block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote:after {
  content: '';
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 100%;
  background-color: #6b54b6;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote .wp-block-quote__citation,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote .wp-block-pullquote__citation,
.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote footer {
  display: block;
  margin-top: 10px;
  text-align: inherit;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}

.block-editor .wp-block-freeform.block-library-rich-text__tinymce blockquote .wp-block-pullquote__citation {
  margin-top: 5px;
}

/* ==========================================================================
   #Blocks styles - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */
