/*------------------------------------------------------------------
 * This is main responsive css file for theme. It is broken into following sections:
 * 1. Global responsive styles
 * 2. Blog responsive styles
 * 3. Footer responsive styles
 * 4. Header responsive styles
 * 5. Search responsive styles
 * 6. Title area responsive styles
 * 7. Shortcodes responsive styles
 * 8. Custom Post Types responsive styles
-------------------------------------------------------------------*/

/* ==========================================================================
   1. Global responsive styles
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  body:not(.edgtf-content-is-behind-header):not(.error404) .edgtf-content {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-hide-on-tablet {
    display: none !important;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-hide-on-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-row-grid-section {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Grid System responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  /*
	* If you changed some value for space do the same thing in product-list-main-and-vc scss files
	*/

  .edgtf-huge-space .edgtf-outer-space {
    margin: 0 -25px;
  }

  .edgtf-huge-space .edgtf-outer-space .edgtf-item-space {
    padding: 0 25px;
    margin: 0 0 50px;
  }

  .edgtf-huge-space.edgtf-disable-bottom-space {
    margin-bottom: -50px;
  }

  .edgtf-huge-space.edgtf-columns-has-side-space {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1440px) {
  .edgtf-grid-list.edgtf-six-columns .edgtf-masonry-grid-sizer {
    width: 20%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space {
    width: 20%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 40%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1367px) {
  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1366px) {
  .edgtf-grid-list.edgtf-five-columns .edgtf-masonry-grid-sizer {
    width: 25%;
  }

  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space {
    width: 25%;
  }

  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1366px) {
  .edgtf-grid-list.edgtf-six-columns .edgtf-masonry-grid-sizer {
    width: 25%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space {
    width: 25%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-grid-list.edgtf-four-columns .edgtf-masonry-grid-sizer {
    width: 33.33333%;
  }

  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space {
    width: 33.33333%;
  }

  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-grid-list.edgtf-five-columns .edgtf-masonry-grid-sizer {
    width: 33.33333%;
  }

  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space {
    width: 33.33333%;
  }

  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-grid-list.edgtf-six-columns .edgtf-masonry-grid-sizer {
    width: 33.33333%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space {
    width: 33.33333%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-grid-list.edgtf-three-columns .edgtf-masonry-grid-sizer {
    width: 50%;
  }

  .edgtf-grid-list.edgtf-three-columns .edgtf-item-space {
    width: 50%;
  }

  .edgtf-grid-list.edgtf-three-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-three-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-grid-list.edgtf-three-columns .edgtf-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-grid-list.edgtf-four-columns .edgtf-masonry-grid-sizer {
    width: 50%;
  }

  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space {
    width: 50%;
  }

  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-grid-list.edgtf-five-columns .edgtf-masonry-grid-sizer {
    width: 50%;
  }

  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space {
    width: 50%;
  }

  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-grid-list.edgtf-six-columns .edgtf-masonry-grid-sizer {
    width: 50%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space {
    width: 50%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space.edgtf-masonry-size-large-width,
  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space.edgtf-masonry-size-large-width-height {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-grid-list.edgtf-two-columns .edgtf-masonry-grid-sizer {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-two-columns .edgtf-item-space {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-three-columns .edgtf-masonry-grid-sizer {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-three-columns .edgtf-item-space {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-four-columns .edgtf-masonry-grid-sizer {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-four-columns .edgtf-item-space {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-five-columns .edgtf-masonry-grid-sizer {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-five-columns .edgtf-item-space {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-masonry-grid-sizer {
    width: 100%;
  }

  .edgtf-grid-list.edgtf-six-columns .edgtf-item-space {
    width: 100%;
  }
}

/* ==========================================================================
   Grid System responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../css/modules-responsive.css.map */
/* ==========================================================================
   Blog responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 50% !important;
  }

  .edgtf-blog-single-navigation {
    padding: 10px 0 26px 0;
  }

  .edgtf-blog-single-navigation .edgtf-blog-single-prev,
  .edgtf-blog-single-navigation .edgtf-blog-single-next {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 40%;
  }

  .edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-label,
  .edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-label {
    position: relative;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: 0;
  }

  .edgtf-blog-single-navigation .edgtf-blog-single-prev {
    float: left;
    text-align: left;
  }

  .edgtf-blog-single-navigation .edgtf-blog-single-next {
    float: right;
    text-align: right;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 100% !important;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-blog-slider-holder.edgtf-bs-carousel-centered .active.center .edgtf-item-text-wrapper {
    opacity: 1;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Blog responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map-responsive.css.map */
/* ==========================================================================
   Footer responsive styles - begin
   ========================================================================== */

/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .edgtf-page-footer .edgtf-column-content.edgtf-grid-col-3,
  .edgtf-page-footer .edgtf-column-content.edgtf-grid-col-4,
  .edgtf-page-footer .edgtf-column-content.edgtf-grid-col-6 {
    margin-top: 30px;
  }

  .edgtf-page-footer .edgtf-column-content.edgtf-grid-col-3:first-child,
  .edgtf-page-footer .edgtf-column-content.edgtf-grid-col-4:first-child,
  .edgtf-page-footer .edgtf-column-content.edgtf-grid-col-6:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner .edgtf-grid-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-full-width {
    padding: 40px 7.5% 22px;
  }

  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-4,
  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-6,
  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-12 {
    text-align: center;
  }

  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-4:last-of-type,
  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-6:last-of-type,
  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner .edgtf-grid-col-12:last-of-type {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-full-width {
    padding: 44px 84px;
  }

  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-full-width {
    padding: 40px 84px 22px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-page-footer .edgtf-column-content:not(:first-child) {
    margin-top: 30px;
  }

  .edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-full-width {
    padding: 44px 130px;
  }

  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-full-width {
    padding: 40px 130px 22px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-full-width {
    padding: 44px 60px;
  }

  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-full-width {
    padding: 40px 60px 22px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-full-width {
    padding: 44px 5%;
  }

  .edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-full-width {
    padding: 40px 5% 22px;
  }
}

/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */

/* ==========================================================================
   Footer responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map-responsive.css.map */
/* ==========================================================================
   Header responsive styles - begin
   ========================================================================== */

/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-page-header {
    display: none;
  }
}

/* ==========================================================================
   Header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Fixed header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 1000px;
  }
}

/* ==========================================================================
   Fixed header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Header Vertical responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1025px) {
  .error404.edgtf-header-vertical .edgtf-content {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-header-vertical .edgtf-vertical-menu-area {
    display: none;
  }

  .edgtf-header-vertical .edgtf-content,
  .edgtf-header-vertical footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 950px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 600px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-row-grid-section {
    width: 90%;
  }
}

/* ==========================================================================
   Header Vertical responsive style - end
   ========================================================================== */

/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-paspartu-enabled .edgtf-mobile-header .edgtf-grid {
    width: 90%;
  }
}

/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Sticky header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 92%;
  }
}

/* ==========================================================================
   Sticky header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Top header responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-top-bar {
    display: none;
  }
}

/* ==========================================================================
   Top header responsive style - end
   ========================================================================== */

/* ==========================================================================
   Header responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map-responsive.css.map */
/* ==========================================================================
   Search responsive styles - begin
   ========================================================================== */

/* ==========================================================================
# Search template responsive style - begin
========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-search-page-holder article .edgtf-post-image {
    width: 80px;
  }

  .edgtf-search-page-holder article .edgtf-post-title-area {
    padding: 0 0 0 105px;
    min-height: 80px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-search-page-holder article .edgtf-post-image {
    width: 60px;
  }

  .edgtf-search-page-holder article .edgtf-post-title-area {
    padding: 0 0 0 80px;
    min-height: 60px;
  }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */

/* ==========================================================================
# Fullscreen search responsive - start
========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-fullscreen-search-holder .edgtf-form-holder-inner {
    width: 80%;
  }
}

/* ==========================================================================
# Fullscreen search responsive - end
========================================================================== */

/* ==========================================================================
   Search responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map-responsive.css.map */
/* ==========================================================================
   Subscribe Popup responsive styles - begin
   ========================================================================== */

/* ==========================================================================
# Subscribe Pop-up style responsive - begin
========================================================================== */

@media only screen and (max-width: 1280px) {
  .edgtf-subscribe-popup-holder .edgtf-sp-inner {
    width: 63%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-subscribe-popup-holder .edgtf-sp-inner {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-subscribe-popup-holder .edgtf-sp-inner {
    width: 90%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-subscribe-popup-holder .edgtf-sp-inner {
    min-height: 450px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-subscribe-popup-holder .edgtf-sp-content-container {
    width: 100%;
    padding: 0 40px;
  }

  .edgtf-subscribe-popup-holder .edgtf-sp-background {
    display: none;
  }
}

/* ==========================================================================
# Subscribe Pop-up style responsive - end
========================================================================== */

/* ==========================================================================
   Subscribe Popup responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=popup-map-responsive.css.map */
/* ==========================================================================
   Title responsive styles - begin
   ========================================================================== */

/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-title-holder:not(.edgtf-bg-responsive-disabled).edgtf-has-bg-image {
    height: auto !important;
    background-image: none !important;
  }

  .edgtf-title-holder:not(.edgtf-bg-responsive-disabled).edgtf-has-bg-image .edgtf-title-image {
    display: block;
  }

  .edgtf-title-holder:not(.edgtf-bg-responsive-disabled).edgtf-has-bg-image .edgtf-title-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .edgtf-title-holder:not(.edgtf-bg-responsive-disabled).edgtf-title-va-header-bottom {
    height: auto !important;
  }

  .edgtf-title-holder:not(.edgtf-bg-responsive-disabled).edgtf-title-va-header-bottom .edgtf-title-wrapper {
    padding-top: 0 !important;
  }
}

/* ==========================================================================
   Title responsive style - end
   ========================================================================== */

/* ==========================================================================
   Centered Title type responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-title-holder.edgtf-centered-type .edgtf-page-subtitle {
    padding: 0 !important;
  }
}

/* ==========================================================================
   Centered Title type responsive style - end
   ========================================================================== */

/* ==========================================================================
   Standard With Breadcrumbs Title type responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-title-info,
  .edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs-info {
    display: block;
    width: 100%;
  }

  .edgtf-title-holder.edgtf-standard-with-breadcrumbs-type .edgtf-breadcrumbs-info {
    margin: 10px 0 0;
    text-align: initial;
    white-space: inherit;
  }
}

/* ==========================================================================
   Standard With Breadcrumbs Title type responsive style - end
   ========================================================================== */

/* ==========================================================================
   Title responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* ==========================================================================
   Custom Post Types responsive styles
   ========================================================================== */

@media only screen and (max-width: 680px) {
  .edgtf-testimonials-holder.edgtf-testimonials-image-pagination .edgtf-testimonials-image-pagination-inner {
    padding: 0 10px 0 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .edgtf-testimonials-holder.edgtf-testimonials-image-pagination .edgtf-testimonials-image-pagination-inner .edgtf-testimonial-text {
    font-size: 15px;
    line-height: 27px;
  }
}

/*# sourceMappingURL=../../../../plugins/overworld-core/assets/css/custom-post-types-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

/* ==========================================================================
   Button shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-btn.edgtf-btn-large,
  .edgtf-btn.edgtf-btn-huge {
    padding: 13px 71px;
  }
}

/* ==========================================================================
   Button shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Call To Action shortcode responsive style - begin
   ========================================================================== */

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .edgtf-call-to-action-holder .edgtf-grid {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-call-to-action-holder.edgtf-three-quarters-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-four-fifths-columns .edgtf-cta-text-holder {
    width: 66.66666666666667%;
  }

  .edgtf-call-to-action-holder.edgtf-three-quarters-columns .edgtf-cta-button-holder,
  .edgtf-call-to-action-holder.edgtf-four-fifths-columns .edgtf-cta-button-holder {
    width: 33.33333333333333%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-call-to-action-holder.edgtf-normal-layout .edgtf-cta-inner,
  .edgtf-call-to-action-holder.edgtf-normal-layout .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-normal-layout .edgtf-cta-button-holder {
    display: block;
  }

  .edgtf-call-to-action-holder.edgtf-normal-layout .edgtf-cta-button-holder {
    margin: 28px 0 0;
    text-align: initial;
  }

  .edgtf-call-to-action-holder.edgtf-two-halves-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-two-halves-columns .edgtf-cta-button-holder,
  .edgtf-call-to-action-holder.edgtf-two-thirds-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-two-thirds-columns .edgtf-cta-button-holder,
  .edgtf-call-to-action-holder.edgtf-three-quarters-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-three-quarters-columns .edgtf-cta-button-holder,
  .edgtf-call-to-action-holder.edgtf-four-fifths-columns .edgtf-cta-text-holder,
  .edgtf-call-to-action-holder.edgtf-four-fifths-columns .edgtf-cta-button-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Call To Action shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Countdown shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .edgtf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-countdown .countdown-row.countdown-show4 .countdown-section,
  .edgtf-countdown .countdown-row.countdown-show5 .countdown-section,
  .edgtf-countdown .countdown-row.countdown-show6 .countdown-section {
    width: 33.33333333333333%;
  }

  .edgtf-countdown .countdown-row.countdown-show4 .countdown-section:nth-of-type(3) .countdown-amount:after,
  .edgtf-countdown .countdown-row.countdown-show5 .countdown-section:nth-of-type(3) .countdown-amount:after,
  .edgtf-countdown .countdown-row.countdown-show6 .countdown-section:nth-of-type(3) .countdown-amount:after {
    content: '';
  }

  .edgtf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 40px;
  }
}

/* ==========================================================================
   Countdown shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Custom Font shortcode responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .edgtf-custom-font-holder.edgtf-disable-title-break br {
    display: none;
  }
}

/* ==========================================================================
   Custom Font shortcode responsive styles - end
   ========================================================================== */

@media only screen and (max-width: 1280px) {
  .edgtf-dual-image-carousel.swiper-container {
    background-size: 100% 47%;
    background-position: center 20%;
  }

  .edgtf-dual-image-carousel.swiper-container .swiper-wrapper .swiper-slide .edgtf-slide-foreground-image-holder {
    max-width: 50%;
    margin: -11.2% auto 0;
  }
}

/* ==========================================================================
   Elements Holder shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1366.edgtf-two-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1366.edgtf-three-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1366.edgtf-four-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1366.edgtf-five-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1366.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1366.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1366.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1366.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-two-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-three-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-four-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-five-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-two-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-three-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-four-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-five-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-elements-holder.edgtf-responsive-mode-680.edgtf-two-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-680.edgtf-three-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-680.edgtf-four-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-680.edgtf-five-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-680.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-680.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-680.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-680.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-two-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-three-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-four-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-five-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-six-columns .edgtf-eh-item {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-left .edgtf-eh-item .edgtf-eh-item-content {
    text-align: left;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-right .edgtf-eh-item .edgtf-eh-item-content {
    text-align: right;
  }

  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-center .edgtf-eh-item .edgtf-eh-item-content {
    text-align: center;
  }

  .edgtf-elements-holder .edgtf-eh-item-content {
    padding: 0 10px;
  }
}

/* ==========================================================================
   Elements Holder shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Google Map shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .edgtf-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   Google Map shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Process shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1366px) {
  .edgtf-process-holder.edgtf-responsive-1366 .edgtf-mark-horizontal-holder {
    display: none;
  }

  .edgtf-process-holder.edgtf-responsive-1366 .edgtf-mark-vertical-holder {
    display: block;
  }

  .edgtf-process-holder.edgtf-responsive-1366 .edgtf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .edgtf-process-holder.edgtf-responsive-1366 .edgtf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-process-holder.edgtf-responsive-1024 .edgtf-mark-horizontal-holder {
    display: none;
  }

  .edgtf-process-holder.edgtf-responsive-1024 .edgtf-mark-vertical-holder {
    display: block;
  }

  .edgtf-process-holder.edgtf-responsive-1024 .edgtf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .edgtf-process-holder.edgtf-responsive-1024 .edgtf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-process-holder.edgtf-responsive-768 .edgtf-mark-horizontal-holder {
    display: none;
  }

  .edgtf-process-holder.edgtf-responsive-768 .edgtf-mark-vertical-holder {
    display: block;
  }

  .edgtf-process-holder.edgtf-responsive-768 .edgtf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .edgtf-process-holder.edgtf-responsive-768 .edgtf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-process-holder.edgtf-responsive-680 .edgtf-mark-horizontal-holder {
    display: none;
  }

  .edgtf-process-holder.edgtf-responsive-680 .edgtf-mark-vertical-holder {
    display: block;
  }

  .edgtf-process-holder.edgtf-responsive-680 .edgtf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .edgtf-process-holder.edgtf-responsive-680 .edgtf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-process-holder.edgtf-responsive-480 .edgtf-mark-horizontal-holder {
    display: none;
  }

  .edgtf-process-holder.edgtf-responsive-480 .edgtf-mark-vertical-holder {
    display: block;
  }

  .edgtf-process-holder.edgtf-responsive-480 .edgtf-process-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0 0 0 76px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .edgtf-process-holder.edgtf-responsive-480 .edgtf-process-item {
    width: 100%;
    float: none;
    padding: 0;
    text-align: inherit;
  }
}

/* ==========================================================================
   Process shortcode responsive style - end
   ========================================================================== */

/* ==========================================================================
   Section Title shortcode responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .edgtf-section-title-holder {
    padding: 0 !important;
  }

  .edgtf-section-title-holder.edgtf-st-disable-title-break .edgtf-st-title br {
    display: none;
  }
}

/* ==========================================================================
   Section Title shortcode responsive styles - end
   ========================================================================== */

@media only screen and (max-width: 1440px) {
  .edgtf-stream-box-holder .edgtf-sb-main-stream-item .edgtf-sb-text-holder {
    padding: 18px 100px 20px 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-stream-box-holder.edgtf-sb-standard .edgtf-sb-bottom-stream-item .edgtf-sb-text-holder {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-stream-box-holder.edgtf-sb-standard .edgtf-sb-bottom-stream-item .edgtf-sb-text-holder {
    width: 90%;
  }

  .edgtf-stream-box-holder .edgtf-sb-main-stream-item .edgtf-video-button-play {
    font-size: 57px;
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-stream-box-holder .edgtf-stream-bgrnd {
    display: none;
  }

  .edgtf-stream-box-holder.edgtf-sb-standard .edgtf-sb-bottom-stream-item {
    display: block;
    width: 100%;
    min-height: 175px;
  }

  .edgtf-stream-box-holder.edgtf-sb-standard .edgtf-sb-bottom-stream-item .edgtf-sb-text-holder {
    width: 100%;
  }

  .edgtf-stream-box-holder.edgtf-sb-standard .edgtf-sb-bottom-stream-item .edgtf-sb-text-holder .edgtf-sb-title:after {
    right: 15px;
  }

  .edgtf-stream-box-holder.edgtf-sb-standard .edgtf-sb-main-stream-item .edgtf-sb-text-holder {
    width: 100%;
    padding: 5px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .edgtf-stream-box-holder.edgtf-sb-standard .edgtf-sb-main-stream-item .edgtf-video-button-play {
    width: 67px;
    height: 67px;
  }
}

/* ==========================================================================
   Tabs shortcode responsive style - begin
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  .edgtf-tabs.edgtf-tabs-standard .edgtf-tabs-nav li a,
  .edgtf-tabs.edgtf-tabs-standard-reverse .edgtf-tabs-nav li a,
  .edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li a {
    margin: 0 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-tabs.edgtf-tabs-standard .edgtf-tabs-nav li a,
  .edgtf-tabs.edgtf-tabs-standard-reverse .edgtf-tabs-nav li a,
  .edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li a {
    padding: 7px 21px;
  }

  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav li {
    margin: 0 26px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-tabs.edgtf-tabs-standard .edgtf-tabs-nav li,
  .edgtf-tabs.edgtf-tabs-standard-reverse .edgtf-tabs-nav li,
  .edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li {
    display: block;
    float: none;
  }

  .edgtf-tabs.edgtf-tabs-standard .edgtf-tabs-nav li a,
  .edgtf-tabs.edgtf-tabs-standard-reverse .edgtf-tabs-nav li a,
  .edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li a {
    width: 100%;
    margin: 0;
  }

  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav li {
    margin: 0 20px 0 0;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav {
    padding: 0 0 20px;
  }

  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav li {
    display: block;
    float: none;
    margin: 0 0 20px;
  }

  .edgtf-tabs.edgtf-tabs-simple .edgtf-tabs-nav li a {
    padding: 0;
    width: 100%;
  }
}

/* ==========================================================================
   Tabs shortcode responsive style - end
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/overworld-core/assets/css/shortcodes-map-responsive.css.map */
/* ==========================================================================
   Global partials
   ========================================================================== */

/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/overworld-twitter-feed/assets/css/shortcodes-map-responsive.css.map */