@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
h1 { font-size: 80px;}h2 { font-size: 80px;}}

@media only screen and (min-width: 681px) and (max-width: 768px){
h1 { font-size: 80px;}h2 { font-size: 80px;}}

@media only screen and (max-width: 680px){
h1 { font-size: 43px;}h2 { font-size: 40px;}}