/* ==========================================================================
   WooCommerce Responsive styles - begin
   ========================================================================== */
/*------------------------------------------------------------------
 * This is main woocommerce responsive css file for theme. It is broken into following sections:
 * 1.  Global Responsive
 * 2.  Single Product Responsive
 * 3.  WooCommerce Product Lists and Shortcodes Responsive
 * 4.  Cart Responsive
 * 5.  Checkout Responsive
 * 6.  My Account Responsive
 * 7.  Shortcodes Responsive
 * 8.  Widgets Responsive
-------------------------------------------------------------------*/
/* ==========================================================================
   WooCommerce Cart page responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-input,
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-minus,
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-plus {
    font-size: 13px;
  }
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-input {
    width: 64px;
    height: 54px;
  }
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-minus,
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-plus {
    width: 40px;
    height: 33px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page table.cart td.actions .coupon,
  .edgtf-woocommerce-page table.cart td.actions .button,
  .edgtf-woocommerce-page table.cart td.actions > input {
    display: block !important;
    position: relative !important;
    float: none !important;
    margin: 0;
  }
  .edgtf-woocommerce-page table.cart td.actions .coupon {
    margin: 0 0 10px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-page table.cart tr th, .edgtf-woocommerce-page table.cart tr td {
    font-size: 12px;
  }
  .edgtf-woocommerce-page table.cart tr.cart_item td.product-thumbnail {
    width: auto;
    padding-right: 0;
  }
  .edgtf-woocommerce-page table.cart tr.cart_item td.product-thumbnail img {
    display: none;
  }
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-input {
    width: 54px;
    height: 44px;
    margin: 0;
  }
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-minus,
  .edgtf-woocommerce-page table.cart .edgtf-quantity-buttons .edgtf-quantity-plus {
    display: none;
  }
  .edgtf-woocommerce-page table.cart td.actions .coupon,
  .edgtf-woocommerce-page table.cart td.actions > input {
    float: none;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page table.cart thead tr th {
    font-size: 16px;
  }
}

/* ==========================================================================
   WooCommerce Cart page responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Checkout page responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page .woocommerce-checkout .col-1,
  .edgtf-woocommerce-page .woocommerce-checkout .col-2 {
    width: 100%;
  }
  .edgtf-woocommerce-page .woocommerce-checkout .col-1 {
    margin: 0 0 25px;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-page .woocommerce-checkout .col-1 .form-row,
  .edgtf-woocommerce-page .woocommerce-checkout .col-2 .form-row {
    width: 100%;
    margin: 0;
    float: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li.payment_method_paypal label img {
    display: none;
  }
}

/* ==========================================================================
   WooCommerce Checkout page responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Checkout page - Order Received responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1,
  .edgtf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-2 {
    width: 100%;
  }
  .edgtf-woocommerce-page.woocommerce-order-received .woocommerce .col2-set.addresses .col-1 {
    margin: 0 0 25px;
  }
}

/* ==========================================================================
   WooCommerce Checkout page - Order Received responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Buttons responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .woocommerce-page .edgtf-content a.button,
  .woocommerce-page .edgtf-content a.added_to_cart,
  .woocommerce-page .edgtf-content input[type="submit"],
  .woocommerce-page .edgtf-content button[type="submit"]:not(.edgtf-search-submit),
  .woocommerce-page .edgtf-content .wc-forward:not(.added_to_cart):not(.checkout-button),
  div.woocommerce a.button,
  div.woocommerce a.added_to_cart,
  div.woocommerce input[type="submit"],
  div.woocommerce button[type="submit"]:not(.edgtf-search-submit),
  div.woocommerce .wc-forward:not(.added_to_cart):not(.checkout-button) {
    padding: 10px 33px;
  }
}

/* ==========================================================================
   WooCommerce Buttons responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Onsale and Out of Stock responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-onsale,
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-sold,
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-new-product {
    right: 11px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .edgtf-onsale,
  .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .edgtf-sold,
  .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .edgtf-new-product {
    right: 11px;
  }
}

/* ==========================================================================
   WooCommerce Onsale and Out of Stock responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Message Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page .woocommerce-message,
  .edgtf-woocommerce-page .woocommerce-info,
  .edgtf-woocommerce-page .woocommerce-error {
    padding: 17px 25px !important;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-page .woocommerce-message,
  .edgtf-woocommerce-page .woocommerce-info,
  .edgtf-woocommerce-page .woocommerce-error {
    padding: 35px 22px 8px !important;
    line-height: 2em;
  }
  .edgtf-woocommerce-page .woocommerce-message a,
  .edgtf-woocommerce-page .woocommerce-info a,
  .edgtf-woocommerce-page .woocommerce-error a {
    float: none;
    margin: 0 70% 15px 0 !important;
    white-space: nowrap;
  }
}

/* ==========================================================================
   WooCommerce Message Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Quantity Inputs responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 680px) {
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-input,
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-minus,
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-plus,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-input,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-minus,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-plus {
    font-size: 13px;
  }
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-input,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-input {
    width: 64px;
    height: 54px;
  }
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-minus,
  .woocommerce-page .edgtf-content .edgtf-quantity-buttons .edgtf-quantity-plus,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-minus,
  div.woocommerce .edgtf-quantity-buttons .edgtf-quantity-plus {
    width: 40px;
    height: 33px;
    line-height: 34px;
  }
}

/* ==========================================================================
   WooCommerce Quantity Inputs responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-page .woocommerce-result-count,
  .edgtf-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 30px;
  }
  .edgtf-woocommerce-page .woocommerce-ordering {
    text-align: initial;
  }
  .edgtf-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-ordering .orderby {
    min-width: 100%;
  }
}

/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce MyAccount page responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 28%;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    width: 72%;
    padding: 0 0 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation,
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
    padding: 0;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul {
    border-right: none;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li:not(:last-child) {
    margin: 0 0 14px;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    margin: 40px 0 0;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Message {
    padding: 30px 25px !important;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1,
  .edgtf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-2 {
    width: 100%;
  }
  .edgtf-woocommerce-page.woocommerce-account .woocommerce .col2-set.addresses .col-1 {
    margin: 0 0 25px;
  }
}

/* ==========================================================================
   WooCommerce MyAccount page responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Product List page responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .woocommerce.columns-6 > .products > .product {
    width: 20%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1201px) {
  .woocommerce.columns-6 > .products > .product:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce.columns-5 > .products > .product {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .woocommerce.columns-5 > .products > .product:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce.columns-6 > .products > .product {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .woocommerce.columns-6 > .products > .product:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-3
  .related.products > .products > .product, .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-3
  .related.products > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-4
  .related.products > .products > .product, .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-4
  .related.products > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product:nth-child(3n+1), .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 > .products > .product {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .woocommerce.columns-4 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-5 > .products > .product {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .woocommerce.columns-5 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-6 > .products > .product {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .woocommerce.columns-6 > .products > .product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-3
  .related.products > .products > .product, .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-3
  .related.products > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-4
  .related.products > .products > .product, .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-4
  .related.products > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product:nth-child(2n+1), .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .woocommerce.columns-3 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-4 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .woocommerce.columns-4 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-5 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .woocommerce.columns-5 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-6 > .products > .product {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .woocommerce.columns-6 > .products > .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woocommerce-columns-3 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-3
  .related.products > .products > .product, .edgtf-woocommerce-columns-3
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-3
  .cross-sells > .products > .product {
    width: 100%;
  }
  .edgtf-woocommerce-columns-4 .edgtf-pl-main-holder > .products > .product, .edgtf-woocommerce-columns-4
  .related.products > .products > .product, .edgtf-woocommerce-columns-4
  .upsells.products > .products > .product, .edgtf-woocommerce-columns-4
  .cross-sells > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-2 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-3 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-4 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-5 > .products > .product {
    width: 100%;
  }
  .woocommerce.columns-6 > .products > .product {
    width: 100%;
  }
}

/* ==========================================================================
   WooCommerce Product List page responsive styles - end
   ========================================================================== */
/* Woocommerce Product Page shortcode responsive style - begin
========================================================================== */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a {
    padding: 12px 7px;
  }
}

@media only screen and (max-width: 1024px) {
  div.woocommerce > .single-product .edgtf-single-product-content .images,
  div.woocommerce > .single-product .edgtf-single-product-content .edgtf-single-product-summary {
    float: none;
    width: 100%;
    padding: 0;
  }
  div.woocommerce > .single-product .edgtf-single-product-content .images .woocommerce-product-gallery__trigger {
    right: 10px;
  }
  div.woocommerce > .single-product .edgtf-single-product-content .edgtf-single-product-summary {
    margin: 30px 0 0;
  }
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a {
    padding: 13px 10px;
  }
}

@media only screen and (max-width: 768px) {
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li {
    display: block;
    float: none;
  }
  div.woocommerce > .single-product .woocommerce-tabs ul.tabs > li a {
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 680px) {
  div.woocommerce > .single-product .edgtf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
    width: 50%;
  }
}

/* Woocommerce Product Page shortcode responsive style - end
========================================================================== */
/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - begin
   ========================================================================== */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li a {
    padding: 12px 7px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woo-single-page .edgtf-single-product-content .images,
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-single-product-summary {
    float: none;
    width: 100%;
    padding: 0;
  }
  .edgtf-woo-single-page .edgtf-single-product-content .images .woocommerce-product-gallery__trigger {
    right: 10px;
  }
  .edgtf-woo-single-page .edgtf-single-product-content .edgtf-single-product-summary {
    margin: 30px 0 0;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li a {
    padding: 12px 7px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li {
    display: block;
    float: none;
  }
  .edgtf-woo-single-page .woocommerce-tabs ul.tabs > li a {
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-woo-single-page.edgtf-woo-single-thumb-on-left-side .edgtf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
    width: 50%;
  }
  .edgtf-woo-single-page .edgtf-single-product-content .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
    width: 50%;
  }
}

/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Dropdown Cart Responsive styles - begin
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-shopping-cart-dropdown ul {
    margin: 20px;
  }
}

/* ==========================================================================
   WooCommerce Dropdown Cart Responsive styles - end
   ========================================================================== */
/* ==========================================================================
   WooCommerce Responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/woocommerce-responsive.css.map */
