/*
Theme Name: Overworld Child
Theme URI: http://overworld.edge-themes.com
Description: A child theme of Overworld Theme
Author: Edge Themes
Author URI: http://themeforest.net/user/edge-themes
Version: 1.0.0
Text Domain: overworld
Template: overworld
*/

@font-face {
  font-family: Industry Bold;
  src: url(/fonts/INDUSTRY-BOLD.TTF);
  font-weight: normal;
}
@font-face {
  font-family: Industry Light;
  src: url(/fonts/INDUSTRY-LIGHT.TTF);
  font-weight: normal;
}
@font-face {
  font-family: Industry Medium;
  src: url(/fonts/INDUSTRY-MEDIUM.TTF);
  font-weight: normal;
}
@font-face {
  font-family: Akkordeon;
  src: url(./fonts/EmtypeFoundry-AkkordeonEight.otf);
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Akkordeon, sans-serif !important;
}

@media screen and (min-width: 1025px) {
  h2 {
    font-size: 80px;
  }
}

/* HEADER */
@media screen and (max-width: 1141px) {
  .edgtf-header-divided .edgtf-page-header .edgtf-main-menu > ul > li > a {
    padding: 0 18px !important;
  }
}

.edgtf-position-left-inner-wrap
  .edgtf-side-menu-button-opener.edgtf-side-menu-button-opener-svg-path {
  display: none;
}

@media screen and (min-width: 1025px) {
  header.edgtf-page-header {
    display: block;
  }
}

header .edgtf-drop-down .narrow .second .inner ul {
  background-color: rgba(24, 20, 42, 0.95);
}

header.edgtf-mobile-header .edgtf-mobile-header-inner {
  background-color: #18142a;
}

header.edgtf-mobile-header .edgtf-mobile-nav {
  background-color: #18142a;
}

.edgtf-mobile-header .edgtf-mobile-nav ul li a,
.edgtf-mobile-header .edgtf-mobile-nav ul li h6 {
  font-family: Rajdhani, sans-serif !important;
}

.edgtf-wrapper header.edgtf-page-header .edgtf-menu-area {
  background-color: #18142a;
}

blockquote:before,
.edgtf-st-loader .pulse,
.edgtf-st-loader .double_pulse .double-bounce1,
.edgtf-st-loader .double_pulse .double-bounce2,
.edgtf-st-loader .cube,
.edgtf-st-loader .rotating_cubes .cube1,
.edgtf-st-loader .rotating_cubes .cube2,
.edgtf-st-loader .stripes > div,
.edgtf-st-loader .wave > div,
.edgtf-st-loader .two_rotating_circles .dot1,
.edgtf-st-loader .two_rotating_circles .dot2,
.edgtf-st-loader .five_rotating_circles .spinner-container > div,
.edgtf-st-loader .atom .ball-1:before,
.edgtf-st-loader .atom .ball-2:before,
.edgtf-st-loader .atom .ball-3:before,
.edgtf-st-loader .atom .ball-4:before,
.edgtf-st-loader .clock .ball:before,
.edgtf-st-loader .mitosis .ball,
.edgtf-st-loader .lines .line1,
.edgtf-st-loader .lines .line2,
.edgtf-st-loader .lines .line3,
.edgtf-st-loader .lines .line4,
.edgtf-st-loader .fussion .ball,
.edgtf-st-loader .wave_circles .ball,
.edgtf-st-loader .pulse_circles .ball,
.edgtf-comment-holder .edgtf-comments-title:before,
.edgtf-comment-form .comment-reply-title:before,
.edgtf-cf7-newsletter
  .wpcf7-form-control.wpcf7-submit.edgtf-btn-solid
  .edgtf-btn-bg-holder,
.post-password-form input[type='submit'],
#edgtf-back-to-top > span .edgtf-btt-bg-holder,
#edgtf-back-to-top > span:after,
#edgtf-back-to-top > span:before,
.edgtf-custom-text-area:after,
.edgtf-custom-text-input:after,
.widget .edgtf-widget-title:before,
.widget.widget_calendar #today,
.edgtf-top-bar .widget .edgtf-widget-title:before,
.edgtf-top-bar .widget.widget_calendar #today,
.edgtf-page-footer .widget .edgtf-widget-title:before,
.edgtf-page-footer .widget.widget_calendar #today,
.edgtf-footer-top-holder .widget .edgtf-widget-title:before,
.edgtf-footer-bottom-holder .widget .edgtf-widget-title:before,
.edgtf-side-menu .widget .edgtf-widget-title:before,
.edgtf-side-menu .widget.widget_calendar #today,
.edgtf-blog-audio-holder
  .mejs-container
  .mejs-controls
  > .mejs-volume-button
  > a.mejs-volume-slider
  .mejs-volume-current,
.edgtf-blog-video-holder
  .mejs-container
  .mejs-controls
  > .mejs-volume-button
  > a.mejs-volume-slider
  .mejs-volume-current,
.edgtf-blog-audio-holder
  .mejs-container
  .mejs-controls
  > a.mejs-horizontal-volume-slider
  .mejs-horizontal-volume-current,
.edgtf-blog-video-holder
  .mejs-container
  .mejs-controls
  > a.mejs-horizontal-volume-slider
  .mejs-horizontal-volume-current,
.edgtf-blog-audio-holder
  .mejs-container
  .mejs-controls
  > .mejs-time-rail
  .mejs-time-total
  .mejs-time-current,
.edgtf-blog-video-holder
  .mejs-container
  .mejs-controls
  > .mejs-time-rail
  .mejs-time-total
  .mejs-time-current,
.edgtf-related-posts-holder .edgtf-related-posts-title:before,
.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link:hover,
blockquote.wp-block-pullquote:before,
.wp-block-pullquote blockquote:before,
.wp-block-quote:before,
.wp-block-file .wp-block-file__button,
.has-primary-background-color,
nav.edgtf-fullscreen-menu > ul > li > a:after,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li:after,
.edgtf-title-holder,
.edgtf-title-holder.edgtf-title-with-separator .edgtf-title-info:before,
.edgtf-author-info-widget .edgtf-aiw-title:before,
.edgtf-social-icons-group-widget.edgtf-square-icons
  .edgtf-social-icon-widget-holder:hover,
.edgtf-social-icons-group-widget.edgtf-square-icons.edgtf-light-skin
  .edgtf-social-icon-widget-holder:hover,
.edgtf-tournament-timetable-holder
  .edgtf-tt-item-outer.edgtf-with-link
  .edgtf-tt-item-holder:hover,
.edgtf-btn.edgtf-btn-solid,
.edgtf-btn.edgtf-btn-outline:after,
.edgtf-btn.edgtf-btn-outline:before,
.edgtf-btn-stripe .edgtf-btn-bg-holder,
.edgtf-icon-shortcode.edgtf-circle,
.edgtf-icon-shortcode.edgtf-dropcaps.edgtf-circle,
.edgtf-icon-shortcode.edgtf-square,
.edgtf-link-list-holder .edgtf-link-item-inner:after,
.edgtf-process-holder .edgtf-process-circle,
.edgtf-process-holder .edgtf-process-line,
.edgtf-progress-bar .edgtf-pb-content-holder .edgtf-pb-content,
.edgtf-stream-box-holder .edgtf-sb-title:after,
.edgtf-stream-list-holder .edgtf-sb-title:after,
.edgtf-tabs.edgtf-tabs-boxed .edgtf-tabs-nav li a:after,
.edgtf-tabs.edgtf-tabs-standard .edgtf-tabs-nav li a:after,
.edgtf-tabs.edgtf-tabs-standard-reverse .edgtf-tabs-nav li a:after,
.edgtf-custom-cursor-enabled .edgtf-custom-cursor.edgtf-custom-cursor-2,
.menu-footer-menu-container ul li a:after,
.edgtf-main-menu > ul > li > a > span.item_outer:after {
  background-color: #b6985d !important;
}

.edgtf-search-fade
  .edgtf-fullscreen-search-holder
  .edgtf-fullscreen-search-table {
  background-color: rgba(24, 20, 42, 0.8) !important;
}

.edgtf-search-fade
  .edgtf-fullscreen-search-holder
  .edgtf-form-holder-inner
  .edgtf-line {
  border-color: #b6985d;
}

.edgtf-page-header .edgtf-sticky-header .edgtf-sticky-holder {
  background-color: rgba(24, 20, 42) !important;
  border-color: #18142a;
}

/* FOOTER */
.u-footer-social-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 42px 0;
}

.u-footer-social-wrapper a {
  margin: 0 2%;
}

.edgtf-page-footer .edgtf-footer-bottom-holder:before {
  background-color: transparent !important;
}

.edgtf-page-footer .edgtf-footer-bottom-holder {
  border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
}

footer.edgtf-page-footer
  .edgtf-footer-bottom-holder
  .edgtf-footer-bottom-inner.edgtf-full-width {
  padding: 50px 7.5% 50px;
}

.u-copy {
  margin-top: 89px;
  color: white;
}

/* SINGLE PLAYER */
.edgtf-player .edgtf-player-image:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 10;
}

.edgtf-player .edgtf-player-info {
  z-index: 20;
}

.edgtf-player .edgtf-player-nickname {
  font-family: Rajdhani, sans-serif;
  margin-top: 0px !important;
  text-transform: uppercase;
  font-size: 12px;
}

.edgtf-player .edgtf-player-name {
  letter-spacing: 2px !important;
  font-size: 35px !important;
}

.edgtf-player {
  cursor: default !important;
}

.edgtf-player:hover .edgtf-player-nickname {
  color: #b6985d !important;
}

.u-player-social-icons {
  position: absolute;
  right: 24px;
  bottom: 30px;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.04, 0.85, 0.29, 0.96);
}

@media screen and (min-width: 1025px) {
  .u-player-social-icons {
    bottom: 10px;
    opacity: 0;
  }
}

.edgtf-player:hover .u-player-social-icons {
  bottom: 30px;
  opacity: 1;
}

.u-player-social-icons .edgtf-player-icon.u-icon {
  font-size: 20px;
}

.u-player-social-icons .edgtf-player-icon.u-icon i:hover {
  color: #b6985d;
}

.u-player-social-icons .edgtf-player-icon.u-icon:not(:last-child) {
  margin-right: 12px;
}

/* COMPETITIONS */
.edgtf-tournament.edgtf-info-below-image .edgtf-tournament-info {
  background-color: #14111c !important;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  min-height: 170px;
}

.edgtf-tabs.edgtf-tabs-standard-reverse .edgtf-tabs-nav {
  border-bottom-color: #14111c !important;
}

/* MATCH ITEM */
.u-match-wrapper {
  padding: 24px 46px 24px 53px;
  background-color: rgba(14, 14, 14, 0.5);
  border-left: 7px solid #ceac65;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-match-wrapper .u-match_tournament {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 33%;
  width: 100%;
}

.u-match-wrapper .u-match_tournament-logo {
  max-width: 65px;
  margin-right: 14%;
}

.u-match-wrapper .u-match_tournament-name {
  font-size: 20px;
  font-family: Rajdhani, sans-serif;
  text-transform: uppercase;
  color: white;
}

.u-match-wrapper .u-match_teams {
  max-width: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-match-wrapper .u-match_teams .u-match_vs {
  margin: 0 30px;
  font-size: 20px;
}

.u-match-wrapper .u-match_teams .u-match_teams-logo img {
  max-height: 85px;
  width: auto;
  height: 100%;
}

.u-match-wrapper .u-match_info {
  max-width: 33%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.u-match-wrapper .u-match_date {
  font-size: 20px;
  font-family: Rajdhani, sans-serif;
  text-transform: uppercase;
  color: white;
  margin-right: 12%;
}

.u-match-wrapper .u-match_stream .u-match_stream-box {
  padding: 5px 13px;
  font-size: 20px;
  font-family: Rajdhani, sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: #ceac65;
}

.edgtf-tournament-image > img {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .u-match-wrapper {
    padding: 24px;
  }

  .u-match-wrapper .u-match_teams .u-match_vs {
    margin: 0 12px;
    font-size: 16px;
  }

  .u-match-wrapper .u-match_tournament-logo {
    margin-right: 5%;
  }

  .u-match-wrapper .u-match_tournament-name {
    font-size: 16px;
  }

  .u-match-wrapper .u-match_date {
    font-size: 16px;
    margin-right: 5%;
  }

  .u-match-wrapper .u-match_stream .u-match_stream-box {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .u-match-wrapper {
    display: block;
    border-left: none;
    border-bottom: 7px solid #ceac65;
  }

  .u-match-wrapper .u-match_tournament {
    margin-bottom: 30px;
    max-width: 100%;
    justify-content: center;
  }

  .u-match-wrapper .u-match_tournament-logo {
    max-width: 32px;
  }

  .u-match-wrapper .u-match_teams {
    margin-bottom: 30px;
    justify-content: center;
    max-width: 100%;
  }

  .u-match-wrapper .u-match_info {
    max-width: 100%;
    justify-content: center;
  }
}

/* PAGE LOADER */
.u-page-loader_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #131022;
  opacity: 1;
  transition: all 1s ease;
  z-index: 10000;
}
