/* ==========================================================================
   Image Gallery widget style - begin
   ========================================================================== */
.widget.edgtf-image-gallery-widget {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0px 10px 27px 0px rgba(14, 8, 18, 0.5);
  box-shadow: 0px 10px 27px 0px rgba(14, 8, 18, 0.5);
}

.widget.edgtf-image-gallery-widget img {
  display: block;
  width: 100%;
}

.widget.edgtf-image-gallery-widget .edgtf-image-gallery.edgtf-ig-slider-type.edgtf-ig-pag-inside-slider .edgtf-owl-slider .owl-dots .owl-dot span, .widget.edgtf-image-gallery-widget .edgtf-image-gallery.edgtf-ig-carousel-type.edgtf-ig-pag-inside-slider .edgtf-owl-slider .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}

/* ==========================================================================
   Image Gallery widget style - end
   ========================================================================== */

/*# sourceMappingURL=image-gallery-widget-map.css.map */
